.ntz-container {
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.ntz-input {
    height: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: #eeeeee;
    border-radius: 3px !important;
    border-bottom-color: #eeeeee !important;
    font-family: Tahoma, serif;
    font-size: 15px;
}

.ntz-btn {
    background-color: rgb(106, 48, 199);
    color: #fff;
    width: 325px;
    height: 50px;  
    font-size: 18px;
    font-family: Tahoma, serif;
    border-radius: 48px;
    text-transform: none;

    &:focus {
        outline: 0 !important;
    }
}

.ntz-cart-btn {
    border: 2px solid rgb(106, 48, 199);
    border-radius: 20px;
    width: 217px;
    height: 35px;
    text-transform: none;
    background-color: #fff;
    margin-top: auto;

    > span {
        color: #6a30c7;
        font-size: 13px;
        font-family: Tahoma, serif;
    }

    &:focus {
        outline: 0 !important;
    }

    &--product {
        height: 50px;
        width: 288px;
        margin-top: 0;
        border-radius: 30px;

        > span {
            font-size: 16px;
        }
    }
}

.rub-sign {
    font-family: "Helvetica Neue", Tahoma, sans-serif;
}

@media screen and (max-width: 768px) { 
    .ntz-container { 
        padding-left: 10px;
        padding-right: 10px;
    }

    .ntz-btn {
        max-width: 298px;
    }
}

@media screen and (max-width: 576px) { 
    .ntz-btn {
        max-width: 270px; // template 298px;
    } 
}