.page-layout {
  > .grid-block {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;

    > .grid-content, > .grid-block {
      padding: 10px;
    }
  }
  .left-column {
    background-color: #fafafa;
  }

  .main-content {
    padding-top: 1.5rem;
    background-color: #f3f3f3;
  }

  .right-column {
    background-color: #eaeaea;
  }

  .regular-padding {
    padding: 2rem 1.75rem !important;
  }
}
.grid-block {
    z-index: 10;
}
.grid-block.footer {
    z-index: 9;
}
#account-notify {
    position: absolute;
    top: auto !important;
    right: 0.5em;
    width: 30em;
}

@media (max-width: 1100px) {
  .hide-column-small {
    display: none !important;
  }
}

@media (max-width: 1300px) {
  .hide-column-large {
    display: none !important;
  }
}

div.bordered-header {
  text-transform: uppercase;
  font-size: 1.10rem;
  padding-left: 10px;
  padding-top: 0.55rem;
  font-weight: 500;
  overflow: hidden;
}

.exchange-bordered {
  border: 1px solid rgba(183, 183, 183, 0.29);

  div:first-child & {
    margin: 0 10px 0 10px;
  }

  div:last-child & {
    margin: 0 10px 0 10px;
  }
}

.generic-bordered-box {
  //border: 1px solid rgba(183, 183, 183, 0.29);

  .box-content {
    //padding-left: 10px;
  }
}

.block-content-header {
  font-size: 1.4375rem;
  padding: 0.5rem 0;

  @include breakpoint(small only) {
      font-size: 1.125rem;
  }
}

.table-cell{
  display: table-cell;
}