.about-menu {
    background-color: #f9f7eb;
    // margin-bottom: 20px;

    &__wrapper {
        display: flex;
        align-items: center;
        min-height: 60px;
        justify-content: flex-end;
    }

    &__list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 42px;
        font-family: Tahoma, serif; // upload font to ntz? 
        font-size: 15px;
    }

    &__item {
        color: #444444;
        position: relative;
        margin-left: 40px;

        &:first-child {
            margin-left: 0;
        }

        &:not(:last-child):after {
            content: "|";
            position: absolute;
            // top: 0;
            right: -20px;
            bottom: 0;
            color: #dddddd;
        }

    }

    @media screen and (max-width: 768px) { 
        &__wrapper { 
            min-height: 40px;
        }
        &__list { 
            font-size: 13px;
            margin-right: auto;
            margin-left: auto;
            justify-content: center;
            flex-wrap: wrap;
            padding: 8px 0;
        }

        &__item { 
            margin-left: 18px;
            margin-bottom: 8px;
            margin-top: 8px;

            &:not(:last-child):after { 
                right: -11px;
            }
        }
    }
}