.account-left-panel {
    > div.grid-block {
        border-right: 1px solid $border-color;
    }
  .account-buttons-row .button {
    min-width: 4.5rem;
  }
  .bottom {
    border-top: 1px solid transparent;
    padding: 0.5rem;
    > .center {
      width: auto;
      margin: 0 auto;
    }
  }


    a.pay-button {
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 1.1rem;
        border: 0;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
    }
}

.account-info {
    .account-title {
        width: 181px;
        display: block;
        margin-bottom: 0;
		> span {
			overflow-wrap: break-word;
		}
    }

  .account-image {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: center;
      padding-bottom: 1rem;
      > canvas {
          padding: 1rem;
          border: 1px solid $border-color;
      }
  }
  > div.secondary {
      position: relative;

      > span:first-of-type {
          font-weight: bold;
      }

      > span.my-account-label {
          top: 4px;
          font-size: 0.8rem;
          position: absolute;
          right: 0;
          text-transform: uppercase;
          font-variant: small-caps;
      }
	  > p.account-description {
		    width: 300px;
		    margin-top: 15px;
			color: #f6f6f6;
	  }
  }
}
.account-mobile-block {
	.account-info {
		.account-title {
			margin-bottom: 0;
			> span {
				width: 100%;
				display: block;
				overflow-wrap: break-word;
			}
		}
	}
}
.subheader {
    &--lawyer {
        font-weight: bold;
        color: #d6474a;
    }
}
.no-amount {
  padding-right: 1rem;
  padding-left: 0.7rem;
  font-size: 0.9rem;
  font-weight: bold;
}

.weight-input {
  display: table-cell;
  margin: 0 1rem !important;
  width: 30% !important;
}

.threshold input {
  width: 5rem !important;
}

.more-button {
  padding-top: 0.5rem;
}

.create-account-header {
  height: 180px;
}

a.action-button > span {
    text-transform: lowercase;
}

div.overview-tabs {
    > div.service-selector {
        margin-bottom: 0;
        border: none;
    }

    div.hide-selector {
        padding-left: 5px;
        padding-bottom: 10px;
        > div {
            font-size: 1.15rem;
            cursor: pointer;
            &:first-of-type {
                padding-right: 10px;
            }
            &.inactive {
                color: grey;
            }
            &:hover.inactive {
                color: inherit;
            }
        }
    }

    > div.tab-content {
        padding: 20px;
        overflow-x: auto;
    }

    ul.account-overview > li.total-value > a {
        span.tab-title {
            text-transform: uppercase;
            font-variant: small-caps;
            font-size: 0.8rem;
        }
        div.tab-subtext {
            font-size: 0.8rem;
            text-align: right;
        }
    }
}
ul.account-overview {
    width: 100%;
    li {
        > a {
            font-size: 1.1rem;

            > div.tab-subtext {
                font-size: 70%;
                text-align: right;
            }
        }
        &.total-value {
            > a {
                cursor: default;
                > span.tab-title {
                    font-size: 95%;
                }
            }
        }
    }
}

table.table.dashboard-table {
    > thead > tr > th {
        font-weight: 600;
        font-size: 80%;
        text-align: center;
    }
    > tbody > tr {
        > td {
            font-size: 0.9rem;
            text-align: center;
        }
        &.total-value {
            td {
                vertical-align: middle;
                padding: 8px 5px;
            }
            td:first-of-type {
                text-align: left;
                text-transform: uppercase;
                font-weight: 600;
            }
            td:nth-child(3) {
                font-weight: 600;
                text-align: right;
            }
        }
    }
}
.qr__wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.qr__inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media screen and (min-width: 601px) {
	.login-popup {
		max-width: 600px;
	}
}
