div.Account_create {
    button.submit-button, div.backup-submit .button {
        font-size: 1.3rem;
        font-weight: bold;
    }

    label > a {
        text-decoration: underline;
    }

    div.divider {
        max-width: 30rem;
    }
}

div.divider {
    margin: 20px 0;
    border-bottom: 1px solid $border-color;
}

.login-selector {
    justify-content: space-around;
    > div.box {
        cursor: pointer;
        position: relative;
        padding: 1rem;
        padding-bottom: 4.5rem;
        border: 1px solid $border-color;
        margin-top: 2rem;

        .button {
            font-size: 1.2rem;
            position: absolute;
            bottom: 1rem;
        }
    }
}
div.account-creation {
    margin-top: 2rem;
    padding: 2rem 3rem;

    div.confirm-checks {
        max-width: 95vw;
        text-align: left;
    }

    div.sub-content {
        padding-top: 2rem;
        table {
            text-align: left;
        }
        p {
            word-wrap: break-word;
            max-width: 30rem;
            text-align: left;
        }
    }
    h4 {
        font-weight: 600;
        margin-top: 1rem;
        margin-bottom: 0;
    }

    label {
        text-align: left;
    }
    div.button-group {
        padding-top: 2rem;
        label {
            > span {
                text-transform: none;
                font-family: 'Roboto', arial, sans-serif;
                font-size: 16px;
            }
        }
    }
    div.button {
        margin-right: 0;
        margin-top: 3px;
        min-width: 8rem;
        text-transform: none;
        font-size: 1.1rem;
    }

    div.creation-options, div.button-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    div.creation-options {
        padding-top: 5px;
        text-transform: uppercase;
        font-size:95%;
        font-weight: 600;
    }
}
.button-group.button-group--modal {
    & .button--cancel {
        background-color: transparent;
        border: 2px solid #9e9e9e;
    }
}
.account-form section input {
	max-width: 100% !important;
}
.content-block--auth .account-image {
    margin-left: 0.5rem;
}
.input-area {
    margin-left: 3.5rem;
}



/*AUTHORISATION*/

.auth-form {
    width: 80%;
    margin: auto;
    & .account-selector {
            margin-left: 0;
        }
        & .header-area {
            margin-left: 0;
        }
    & .input-area {
            margin-left: 0;
        }
    & .button-group.button-group--modal {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        & .button {
            width: 50%;
            border-radius: 35px;
        }
    }
}
div .account-creation {
    width: 100%;
    &__inner {
        width: 380px;
    }
    & .button-group {
        &__label {
            text-align: center;
            & .button {
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 160px;
                margin-top: 8px;
                font-size: 1.1rem;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .login-popup {
        width: 100%;
    }
    div .account-creation {
        padding: 20px 15px;
        &__inner {
            width: 100%;
        }
        & .button-group {
            &__label {
                & .button {
                    width: 100%;
                    height: 46px;
                    font-size: 1rem;
                }
            }
        }
        div.creation-options {
            font-size:80%;
        }
    }
    .auth-form {
        width: 95%;
        & .right-label {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            float: none;
            justify-content: space-between;
            margin-bottom: 15px;
        }
        & .left-label {
            float: none;
        }
        & .button-group.button-group--modal {
            flex-direction: column-reverse;
            & .button {
                width: 100%;
                &--cancel {
                    margin: 0;
                }
            }
        }
    }
    .backup-input {
        width: 100%;
    }
}
