.aducation {
    padding-bottom: 208px;
    &__title {
        margin-bottom: 20px;
        @include Circe-B;
        font-size: 60px;
        line-height: 60px;
        text-align: center;
    } 
    &__intro {
        margin-bottom: 70px;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }
    &__inner {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 80px;
    }
    &__left {
        width: 50%;
    }
    &__description {
        margin-bottom: 14px;
        @include Circe-B;
        font-size: 20px;
        line-height: 30px;
        color: #333333;
    }
    &__text {
        display: inline;
        // margin-bottom: 14px;
        font-size: 20px;
        line-height: 30px;
        color: #777777;
        margin-right: 8px;
    }
    &__right {
        width: 50%;
        padding-left: 70px;
    }    
    &__list {
        width: 450px;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__item {
        margin-bottom: 8px;
        padding-left: 96px;
        &--odd {
            padding-left: 0;
            padding-right: 96px;
        }
        & img {
            width: 100%;
        }
    }
    &__info {
        @include Circe-B;
        width: 50%;
        margin-top: 35px;
        font-size: 18px;
        line-height: 1.2;
        color: #333333;
        & a {
            color: #ff8400 !important;
            text-decoration: underline; 
        }
    }
}
@media screen and (max-width: 1024px) {
    .aducation {
        &__title {
            font-size: 50px;
            line-height: 50px;
        }
        &__right {
            padding-left: 37px;
        }
        &__list {
            width: 100%;
        }
    }
}
@media screen and (max-width: 700px) {
    .aducation {
        padding-top: 70px;
        padding-bottom: 70px;
        &__title {
            font-size: 36px;
            line-height: 40px;
            margin-bottom: 20px;
        }
        &__intro {
            margin-bottom: 37px;
        }
        &__inner {
            flex-direction: column-reverse;
            margin-bottom: 30px;
        }
        &__right {
            width: 100%;
            padding-left: 0px;
            margin-bottom: 37px;
        }
        &__left {
            width: 100%;
        }
        &__list {
            width: 258px;
            margin: 0 auto;
        }
        &__item {
            padding-left: 55px;
            &--odd {
                padding-left: 0;
                padding-right: 55px;
            }
        }
        &__description {
            margin-bottom: 16px;
            font-size: 16px;
            line-height: 20px;
        }
        &__text {
            font-size: 16px;
            line-height: 20px;
        }
        &__info {
            width: 100%;
        }
    }
}