@import "account";
@import "blocktrades";
@import "cards";
@import "console";
@import "existing_accounts";
@import "footer";
@import "forms";
@import "header";
@import "loading-indicator";
@import "pagination";
@import "tables";
@import "wallet";
@import "chatbox";
@import "dashboard";
@import "settings";
@import "exchange";
@import "bitkapital";
@import "account-create";
@import "help";
@import "rudex";
@import "landing-form.scss";
@import "ntz.scss";
@import "payment-form.scss";
@import "registration-form.scss";
@import "referral.scss";
@import "user-account.scss";
@import "user-login.scss";
@import "partnership.scss";
@import "login-selector.scss";
@import "gateway.scss";
@import "user-team.scss";
@import "search.scss";
@import "settings.scss";
@import "marketplace.scss";
@import "landing-footer.scss";
@import "invoice.scss";
@import "blockchain.scss";
@import "message.scss";
@import "tickets.scss";
@import "training.scss";
@import "events.scss";
@import "start.scss";
@import "start-about.scss";
@import "features.scss";
@import "aducation.scss";
@import "techno.scss";
@import "partners.scss";
@import "promo.scss";
@import "support.scss";
@import "about-menu.scss";
@import "search-results.scss";
@import "ntz-search.scss";
@import "index-main.scss";
@import "categories-left.scss";
@import "filter-search.scss";
@import "cart.scss";
@import "checkout.scss";
@import "cart-block.scss";
@import "categories-all.scss";
@import "promo-categories.scss";
@import "product-page.scss";
@import "ctrl-bar.scss";
@import "category-page.scss";
@import "thank-page.scss";
@import "item-in-cart-modal.scss";
@import "week-offers.scss";
@import "timer.scss";
@import "ntz-footer.scss";
@import "top-slider.scss";
@import "phone-input.scss";

.lifetime {
    background: url("../fresh-bolt2.png") no-repeat 100% 50%;
    background-size: auto 80%;
    padding-right: 0.75rem;
}

.bottom-border {
    border-bottom: 1px solid #444;
}