@keyframes rotate {
    100% {-webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);}
}
.blockchain {
    &__header-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 60px;
    }
    &__logo {
        margin-right: 13px;
        margin-left: 13px;
        animation: rotate 6s  linear infinite;
        -webkit-animation: rotate 16s linear infinite;
    }
    &__header {
        margin: 0;
        font-family: 'Roboto-Bold', arial, sans-serif;
        font-size: 28px;
        line-height: 1;
        text-transform: none;
        color: #ffb000 !important;
    }
    &__wrap {
        width: 830px;
        margin: 0 auto;
    }
    &__raw {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-around;
        margin-bottom: 15px;
    }
    &__item {
        width: 190px;
        margin-right: 20px;
        padding: 9px;
        padding-top: 17px;
        text-align: center;
        background-color: #eee;
        &:last-child {
            margin-right: 0;
        }
        .user-balanse_amount {
            font-family: 'Roboto-Bold', arial, sans-serif;
            font-size: 18px;
            font-weight: bold;
        }
    }
    &__data  {
        font-family: 'Roboto-Bold', arial, sans-serif;
        font-size: 18px;
        font-weight: bold;
        &--success {
            color: #1d6623 !important;
        }
    }
    
    &__title {
        font-family: 'RobotoCondensed-Regular', arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        text-transform: uppercase;
    }
    &__table {
        width: 45%;
        &:first-child {
            margin-right: 30px;
        }
        & span {
            text-transform: none;
        }
    }
}
@media screen and (max-width: 800px) {
    .blockchain {
        &__wrap {
            width: 95%;
        }
        &__item {
            width: 160px;
            margin-right: 0;
            .user-balanse_amount {
                font-size: 14px;
            }
        }
        &__title {
            font-size: 14px;
        }
        &__data {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 600px) {
    .blockchain {
        &__header-wrap {
            margin-bottom: 35px;
            padding-top: 20px;
        }
        &__raw {
            justify-content: center;
            margin-bottom: 0;
        }
        &__item {
            width: 50%;
            margin-right: 0;
            margin-bottom: 15px;
            
        }
        &__table {
            width: 100%;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 320px) {
    .blockchain {
        &__header {
            font-size: 24px;
        }
    }
}