.cart {
    display: grid;
    grid-template-columns: 7fr 3fr;
    font-family: Tahoma, serif;

    &__table {
        display: grid;
        // grid-row-gap: 2rem;
        max-width: 970px;
    }

    &__table-row {
        display: grid;
        grid-template-columns: 2fr 3fr 1fr 2fr 1fr 1fr;
        // grid-template-columns: 1fr 4fr 1fr 2fr 1fr 1fr;
        padding: 20px 0px 20px 34px;

        &:not(:last-child) {
            border-bottom: 1px solid #ebebeb;
        }
    }

    &__table-cell {
        align-self: center;
        // display: flex;
        // align-items: center;
    }

    &__table-header {
        font-size: 15px;
        height: 64px;
    }

    &__product-header {
        grid-column: 1 / 2;  
    }

    &__price-header {
        grid-column: 3 / 3;
    }

    &__img-wrapper {
        margin: 0 auto;
    }

    &__img {
        height: 100px;
        width: 100px;
    }

    &__bill {
        max-width: 385px;
        background-color: #f9f7eb;
        border-radius: 7px; 
    }

    &:after {
        content: none !important;
    }

    &__product {
        display: flex;
        align-items: center;
    }

    &__prod-name {
        max-width: 270px; //328px;
        font-size: 14px;
    }

    &__price {
        font-size: 16px;
        color: #6a30c7;
    }

    &__sum {
        font-size: 16px;
    }

    &__quantity {
        border: 1px solid rgb(235, 235, 235);
        border-radius: 4px;
        display: flex;
        align-items: center;
        width: 148px;
        height: 45px;
    }

    &__remove-product {
        width: 20px;
        height: 20px;
        background-image: url(../app_img/main_page/cross.png);     
        background-size: 20px;
        background-repeat: no-repeat; 
        padding: 6px;
        background-color: #fff;
        background-position: center;

        &:focus {
            outline: none;
        }
    }

    &__plus, &__minus {
        width: 26px;
        height: 26px;
        background-color: rgb(237, 237, 237);
        border-radius: 50%; 

        &:focus {
            outline: none;
        }
    }

    &__plus {
        margin-right: 8px;
        font-size: 20px;
    }

    &__quantity-digit {
        margin-right: 42px;
        margin-left: 22px;
    }

    &__bill {
        padding: 36px 28px;
    }

    &__bill-title {
        font-size: 24px;  
        border-bottom: 1px solid #bebebe;
        padding-bottom: 14px;
        margin-bottom: 28px;
    }

    &__bill-subtotal {
        border-bottom: 1px solid #bebebe;
        padding-bottom: 34px;
        margin-bottom: 22px;

        > div {
            display: flex;
            justify-content: space-between;
            margin-bottom: 18px;
            font-size: 15px;
        }
    }

    &__bill-value {
        font-size: 14px;
        font-weight: 600;
    }

    &__total-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &__promo-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;


        > input {
            margin-right: 10px;
        }
    }

    &__bill-footer {
        border-top: 1px solid #bebebe;
        padding-top: 26px;
        font-size: 15px;
    }

    &__refund {
        background-image: url(../app_img/main_page/refund.png);
        background-size: 20px 22px;
        background-repeat: no-repeat;
        padding-left: 47px;  
        margin-bottom: 19px;
        height: 22px;
    }

    &__safe {
        background-image: url(../app_img/main_page/safe.png);
        background-size: 22px;
        background-repeat: no-repeat;
        padding-left: 49px; 
        margin-bottom: 19px;
        height: 22px;
    }

    &__phone {
        background-image: url(../app_img/main_page/phone.png);
        background-size: 22px;
        background-repeat: no-repeat;
        padding-left: 49px; 
        height: 22px;
    }

    &__buy-btn {
        margin-bottom: 65px;
    }

    &__total-tax {
        font-weight: 600;
    }

    @media screen and (max-width: 1024px) {  
        &__table-row {
            grid-template-rows: 2fr 4fr 4fr;
            grid-template-columns: 2fr 2fr 2fr 3fr 1fr;
            grid-row-gap: 22px; 
            padding-left: 0;
        }

        &__product {
            grid-row: 1 / 4;
            grid-column: 1 / 3;
        }

        &__prod-name {
            grid-row: 2 / 2;
            grid-column: 3 / 5;
        }

        &__price, &__quantity-wrapper, &__sum {
            grid-row: 3 / 3;
        }

        &__remove-wrapper {
            grid-row: 1 / 1;
        }

        &__price, &__price-header, &__quantity-header, &__total-header {
            // grid-column: 2 / 2;
            display: none;
        }

        &__quantity-wrapper {
            grid-column: 4 / 4;
        }

        &__remove-wrapper {
            grid-column: 5 / 5;
        }

        &__sum {
            grid-column: 3 / 3;
        }

        &__sum {
            color: #6a30c7;
        }

    }


    @media screen and (max-width: 768px) { 
        grid-template-columns: 10fr;
        grid-template-rows: auto auto;

        &__bill {
            // margin: 68px auto 0 auto;
            max-width: none;
            padding: 36px 20px;
        }

        &__buy-btn {
            max-width: 295px;
        }

        &__product-header {
            grid-column: 1 / 4;
        }

        &__quantity {
            width: 120px;
        }

        &__quantity-digit {
            margin-right: 26px;
            margin-left: 14px;
        }
    }
}