.cart-block {
    font-family: Tahoma, serif;
    display: flex;
    margin-right: 30px;
    margin-bottom: 20px;
    
    &__quantity {
        display: flex;
        align-items: center;
        height: 33px;
        background-image: url(../app_img/main_page/bag.png);
        background-size: 31px 33px;
        background-repeat: no-repeat;
        padding-left: 33px;
        margin-right: 14px;

        > span {
            height: 21px;
            width: 21px;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            color: #444444;
            background-color: #e8eff4;
            border-radius: 50%; 
        }
    }

    &__cart-text {
        color: #676767;
        font-size: 13px;
        margin-bottom: 4px;
    }

    &__sum {
        color: #444444;
        font-size: 15px;
    }

    @media screen and (max-width: 768px) { 
        margin-bottom: 16px;
    }
}
