.category-page {
    color: red;

    &__wrapper {
        margin-left: 225px;
    }

    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    &__card {
        height: 377px;
        width: 225px;
        list-style-type: none;
        // align-self: center;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin: 27px;

        &:after { 
            content: '';
            position: absolute;
            border-left: 1px solid #ececec;
            top: 14px;
            right: -27px;
            height: 360px;
        }
    }

    &__image-wrapper {
        height: 226px;
        margin-bottom: 16px;
        display: flex;
        align-items: center;
    }

    &__image {
        width: auto;
        height: auto;
        max-height: 226px;
    }

    &__price {
        font-family: Tahoma, serif;
        color: #6a30c7;
        font-size: 16px;
        margin-bottom: 12px;
        text-align: center;
    }

    &__name {
        font-family: Tahoma, serif;
        font-size: 14px;
        color: #626060;
        text-align: center;
        margin-bottom: 16px;
    }

    @media screen and (max-width: 1024px) { 
        &__wrapper {
            margin-left: 0;
        }
    }

    @media screen and (max-width: 576px) { 
        &__card { 
            &::after {
                content: none;
            }
        }
    }
}