.categories-all {
    font-family: Tahoma, serif;

    &__inner {
        display: flex;
    }

    &__slogan {
        font-size: 18px;
        background-color: #6a30c7;
        height: 34px;
        text-align: center;
        color: #e6edf5;
        line-height: 34px;
        margin-bottom: 50px;
    }

    &__products {
        // display: grid;
        // grid-template-columns: repeat(auto-fill, 227px);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__product {
        // height: 350px;
        width: 227px;
        margin: 36px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: 330px;
    }

    &__product-link {
        display: block;
        margin-bottom: 20px;
    }

    &__image-wrapper {
        height: 150px;
        margin-bottom: 16px;
    }

    &__image {
        width: auto;
        height: auto;
        max-height: 150px;
    }

    &__name {
        font-size: 14px;
        color: #626060;
    }

    &__price {
        margin-bottom: 16px;
        font-size: 16px;
        color: #6a30c7;
    }

    // &__add {
    //     margin-top: auto;
    // }
}