.categories-left {
    margin-right: 30px;
    margin-bottom: 20px;
    position: relative;
    z-index: 10;
    height: 50px;

    &__all-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border-style: solid;
        border-width: 2px;
        border-color: rgb(238, 238, 238);
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        width: 225px;
        height: 50px;
        cursor: pointer;
        position: relative;
        font-family: Tahoma, serif;
        font-size: 14px;
        color: #444444;
        margin-bottom: 4px;

        &::before {
            content: "";
            background-image: url(../app_img/main_page/hamburger.png);
            background-repeat: no-repeat;
            width: 15px;
            height: 11px;
            position: absolute;
            left: 17px;
        }

        &::after {
            content: "";
            box-sizing: border-box;
            height: 7px;
            width: 7px;
            border-style: solid;
            border-color: #6e6e6e;  
            border-width: 0px 2px 2px 0px;
            transform: rotate(45deg);
            position: absolute;
            right: 19px;
            top: 19px;
            transition: all .5s ease-out;
        }

        &--arrow-up {
            &::after {
                transform: rotate(225deg);
                top: 22px;
            }
        }
    }

    &__list-wrapper {
        overflow-y: scroll;
        height: 550px;
        background-color: #fff;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        // border-style: solid;
        // border-width: 2px;
        // border-color: rgb(238, 238, 238);
        border: 2px solid rgb(238, 238, 238);
        border-top: none;
        background-color: #fff;
        transition: all .5s ease-out;
    }

    &__item {
        font-family: Tahoma, serif;
        font-size: 14px;
        color: #444444;
        border-bottom: 1px solid #e0e0e0; 
        width: 186px;
        height: 42px;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:last-of-type {
            border-bottom: none;
        }
    }

    &__arrow-border {
        margin-top: 3px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    
    &__border-line {
        // display: inline-block;
        border-top: 2px solid #efefef;
        width: 46%;
    }

    &__triangle {
        display: inline-block;
        height: 14px;
        width: 14px;
        transform: rotate(45deg);
        transform-origin: center center;
        border-top: 2px solid #efefef;
        border-left: 2px solid #efefef;
        margin-left: 2px;
        margin-right: 2px;
        margin-bottom: -5.5px;
    }
}