.checkout {
    display: grid;
    grid-template-columns: 7fr 3fr;
    font-family: Tahoma, serif;

    &__inputs-wrapper {
        // max-width: 962px;
        margin-right: 53px;
        max-width: 898px; // prevent from shifting when type address 
    }

    &__bill {
        background-color: #f9f7eb;
        padding: 36px 30px;
        border-radius: 7px;
    }

    &__title {
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 16px;
        margin-bottom: 30px;
        font-family: Tahoma, serif;
        font-size: 20px;
        font-weight: 700;
    }

    &__sub-title {
        font-size: 18px;
        margin-bottom: 26px;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    &__prod-names {
        max-width: 178px;
        line-height: 18px;
    }

    // &__prod-prices {
    //     max-width: 46px;
    // }

    &__items-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 22px;
        font-size: 15px;
        color: #444444;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        margin-bottom: 18px;
        font-size: 14px;
        color: #444444;

        .checkout__prod-prices {
            font-weight: 600;
        }
    }

    &__items-table {
        border-bottom: 1px solid rgb(190, 190, 190);
        padding-bottom: 12px;
        margin-bottom: 20px;
    }

    &__bill-title {
        font-size: 24px;
        font-weight: bold;
        border-bottom: 1px solid rgb(190, 190, 190);
        padding-bottom: 18px;
        margin-bottom: 30px;
        color: #090909;
    }

    &__input-label {
        color: #626060;
        font-family: Tahoma, serif;
        font-size: 16px;
        margin-bottom: 15px;
        text-transform: none;
    }

    &__textarea-wrapper {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    &__textarea {
        border-style: solid;
        border-width: 2px;
        border-color: #eeeeee;
        border-radius: 3px !important;
        border-bottom-color: #eeeeee !important;
        font-family: Tahoma, serif;
        font-size: 15px;
    }

    &__multiply {
        margin: 0 4px;
    }

    &__bill-subtotal {
        border-bottom: 1px solid #bebebe;
        padding-bottom: 35px;
        margin-bottom: 20px;
 
        > div {
            margin-bottom: 18px;
            display: flex;
            justify-content: space-between;
        }
    }

    &__bill-total {
        border-bottom: 1px solid #bebebe;
        padding-bottom: 35px;
        margin-bottom: 20px;
    }

    &__total-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &__promo-wrapper {
        display: flex;
        margin-left: 88px;

        > input {
            margin-right: 10px;
        }
    }

    &__checkbox-wrapper {
        display: flex;
        margin-bottom: 50px;
        
        > input {
            margin-right: 10px;
        }
    }

    &__input-block {
        position: relative;

        &--address {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }

    &__error {
        position: absolute;
        color: red;
        top: 41px;
        left: 14px;
    }

    &__user, &__delivery {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        column-gap: 54px; 
        margin-bottom: 30px;
        background-color: #F4F4F4;
        padding: 20px;
    }

    &__subtotal, &__total-tax {
        font-weight: 600;
    }

    &__tax-text {
        display: flex;

        > div {
            margin-right: 4px;
        }
    }

    &__radio-btns {
        display: flex;
        margin-bottom: 35px;
        flex-wrap: wrap;
    }

    &__radio-block {
        display: flex;
        margin-right: 8px;

        label > span {
            font-family: Tahoma, serif;
            font-size: 14px; 
            text-transform: none;
        }
    }

    .react-dadata {
        margin-bottom: 14px;
    }

    .react-dadata__input {
        width: 100%;
        height: 2.4rem;
        // height: 50px;
        border-style: solid;
        border-width: 2px;
        border-color: #eeeeee;
        border-radius: 3px !important;
        border-bottom-color: #eeeeee !important;
        font-family: Tahoma, serif;
        font-size: 15px;
    }

    &__warehouse-info {
        margin: 20px 0;
    }

    &__warehouse-title {
        font-weight: bold;
        font-size: 22px;
        margin-bottom: 12px;
    }

    &__warehouse-subtitle {
        font-weight: bold;
    }

    &__warehouse-block {
        margin-bottom: 8px;
        line-height: 22px;
    }

    @media screen and (max-width: 1024px) { 
        &__inputs-wrapper {
            margin-right: 24px;
        }

        &__radio-block { 
            margin-bottom: 20px;
        }
    }

    @media screen and (max-width: 768px) { 
        grid-template-columns: 10fr;
        grid-template-rows: auto auto;

        &__inputs-wrapper {
            margin-right: 0;
        }

        &__user, &__delivery {
            // grid-template-columns: 10fr;
            // grid-auto-rows: 1fr;
            display: block;
            // margin: 0 auto 30px auto;
        }

        &__bill {
            padding: 30px 20px;
        }
    }

    @media screen and (max-width: 576px) { 
        &__inputs-wrapper { 
            // max-width: 340px;
            margin: 0 auto;
        }

        // &__bill {
        //     max-width: 340px;
        //     margin: 0 auto;
        // }
        
    }

}