.ctrl-bar {
    position: sticky;
    top: 0;
    background-color: #fff;
    padding-top: 20px !important;
    z-index: 15;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;   
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__logo {
        // width: 154px;
        // height: 50px;
        display: flex;
        font-size: 35px;
        color: #fe9d37;
        font-family: Circe-Bold,arial,sans-serif;
        // padding-left: 64px;
        line-height: 50px;
        margin-right: 20px;
        margin-left: 10px;
        // margin-bottom: 20px;
    }

    &__logo-pic {
        width: 64px;
        height: 50px;
        background-image: url(../app_img/reg.png);  
        background-position: 0 center;
        background-repeat: no-repeat;
        background-size: contain;

        &:hover {
            color: #fe9d37 !important;
        }
    }

    &__login {
        display: flex;
        margin-bottom: 20px;

        > span {
            margin: 0 8px;
        }

        > div {
            color: #444444;
            cursor: pointer;
        }
    }

    &__login-inner {
        display: flex;
    }

    &__login-pic {
        width: 15px;
        height: 15px;
        background-image: url(../app_img/main_page/profile.png);     
        background-size: 15px;
        background-repeat: no-repeat; 
        background-position: 0 center;
        margin-right: 6px;
    }

    &__reg-text {
        color: #444444;
    }

    &__reg {
        display: flex;
    }

    &__reg-pic {
        width: 15px;
        height: 15px;
        background-image: url(../app_img/main_page/signup.png);     
        background-size: 15px;
        background-repeat: no-repeat; 
        background-position: 0 center;
        margin-right: 6px;
    }

    &__cart-block {
        position: relative;
    }

    @media screen and (max-width: 1024px) {
        // flex-direction: column;

        &__logo { 
            height: 34px;   
            // padding-left: 41px;
            order: 1;
            font-size: 28px;
        }

        &__logo-pic {
            width: 50px;
            height: 40px;
        }

        &__login { 
            order: 2;
            padding-left: 0;

            > span {
                display: none;
            }
        }

        
        .cart-block {
            order: 3;
            flex-direction: column;
            margin-right: 0;
            margin-left: auto;
        }

        .search {
            order: 4;
            width: 100%;
            max-width: none;
        }

        &__login-inner {
            // flex-direction: column;
            // align-items: center;
            margin-right: 12px;
        }

        &__login-text {
            font-size: 14px;
        }

        // &__reg {
        //     flex-direction: column;
        //     align-items: center;   
        // }

        &__reg-text { 
            font-size: 14px;
        }

        &__login-pic, &__reg-pic {
            margin-bottom: 6px;
        }
    }

    @media screen and (max-width: 576px) { 
        &__top { 
            flex-direction: column;
        }

        &__login { 
            margin-bottom: 0;
        }

        &__logo {
            margin-bottom: 20px;
        }
    }
}