div.fm-outer-container {
    border-left: 1px solid $border-color;
    border-top: 1px solid $border-color;
    margin-bottom: 20px;
}

@include breakpoint(large) {
    div.fm-container {
        > div:first-child() {
            padding-right: 15px;
        }

        > div:last-child() {
            padding-right: 15px;
        }
    }
}

div.fm-container {
    border: 1px solid $border-color;
    border-top: none;
    border-left: none;
    padding: 1rem 0.5rem;
    min-width: 13rem;
   &:hover {
    background-color: #D8D8D8;
    cursor: pointer;
   }

   .fm-title, .fm-volume, .fm-change {
    font-size: 0.85rem;
   }

   .fm-name {
    font-weight: bold;
    padding-bottom: 10px;
   }

   .fm-volume, .fm-change {
    text-transform: lowercase;
    font-variant: small-caps;
    padding-top: 6px;
   }
}

.Dashboard__intro-text {
    padding: 20px;

    > p:nth-of-type(2) {
        padding-bottom: 1.25rem;
        border-bottom: 1px solid $border-color;
    }
}

.SimpleTrade__modal {
    // overflow: auto;
    .Modal__header {
        padding: 20px 2rem;
    }
    .Modal__divider {
        margin: 0px;
    }
    .SimpleTrade__hide-zero {
        position: relative;
        top: -3px;
        cursor: pointer;
    }
    .SimpleTrade__withdraw-row {
        padding: 10px 0;
        > div > div.small-6 {
            display: inline-block;
            padding-bottom: 10px;
        }

    }
}

.balance-row.active {
    background-color: #3C3C3C;
}

.balance-row:hover {
    background-color: #3C3C3C;
}

.balance-row {
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px 20px;
}

.balance-row:hover {
    cursor: pointer;
}

.SimpleTrade__help-text {
    font-style: italic;
    padding-top: 5px;
    font-size: 95%;
}

#simple_transfer_modal {
    max-width: 650px;
}

#simple_transfer_modal,
#simple_deposit_modal,
#simple_deposit_modal_ask,
#simple_withdraw_modal,
#simple_bridge_modal,
#simple_bridge_modal_ask {
    padding: 0;
}

#simple_deposit_modal,
#simple_deposit_modal_ask,
#simple_withdraw_modal,
#simple_bridge_modal,
#simple_bridge_modal_ask {
    overflow: auto !important;
    max-width: 500px;
}

#simple_deposit_modal label,
#simple_deposit_modal_ask label,
#simple_withdraw_modal label,
#simple_bridge_modal label,
#simple_bridge_modal_ask label {
    text-transform: none !important;
}

#simple_buy_modal,
#simple_sell_modal {
    overflow: auto !important;
    padding: 0;
}

div.button.create-account {
    font-size: 1.2rem;
}

div.input-wrapper {
    > div.input-right-symbol {
        font-size: 0.9rem;
        font-weight: bold;
        position: absolute;
        top: 12px;
        right: 8px;
    }
}

.SimpleDepositBridge__info-row {
    > div {
        padding-bottom: 5px;
        > div.float-right {
            clear: both;
            font-weight: bold;
        }
    }
}

@media screen and (max-width: 600px)  {
	.asset-card {
		&__card {
			background-color: #3f3f3f;
			margin-bottom: 30px;
		}
		&__asset {
			text-align: center;
			font-size: 1.5rem;
			background-color: #656565;
			padding-top: 13px;
			padding-bottom: 13px;
		}
		&__list {
			list-style: none;
			margin: 0;
			padding: 20px;
		}
		&__item {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-between;
		}
		&__total {
			padding-right: 20px;
			text-align: left;
		}
		&__sum {
			color: #7ED321;
		}
	}
	.orders {
		&__card {
			background-color: #3f3f3f;
			margin-bottom: 30px;
		}
		&__inner {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-between;
			width: 100%;
		}
		&__list {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		&__item {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-between;
			padding: 17px;
			background-color: #4b5158;
		}
		&__title {
			width: 50%;
			text-align: left;
		}
		&__data {
			width: 50%;
			text-align: right;
		}
	}
	div.overview-tabs > div.tab-content {
		padding-left: 0;
		padding-right: 0;
		background-color: #2a2a2a;
	}
	.darkTheme ul.account-overview {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		& li {
			margin-bottom: 10px;
			& a {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				justify-content: space-between;
				width: 100%;
			}
		}
	}
	.darkTheme table.table.dashboard-table > tbody {
		> tr {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: column;
			border-bottom: 1px solid #323131;
			> td {
				width: 100%;
				text-align: left;
				border: none !important;
			}
		}
	}
	.darkTheme table.table.dashboard-table > thead {
		> tr {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: column;
			border-bottom: 1px solid #323131;
			> th {
				width: 100%;
				text-align: left;
				border: none !important;
				&:nth-child(2) {
					display: none;
				}
				&:nth-child(3) {
					display: none;
				}
			}
		}
	}
	.account-overview table.table > tbody {
		> tr {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: column;
			> td {
				width: 100%;
			}
		}
	}
	.account-overview table.table > thead {
		> tr {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: column;
			> th {
				width: 100%;
				text-align: left;
				&:nth-child(2) {
					display: none;
				}
				&:nth-child(3) {
					display: none;
				}
			}
		}
	}
}
