.events {
    &__content {
        min-height: 100vh;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #d5d5d5;
        background-image: url(/asset-symbols/ntz-img/reg-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0px 0px;
        background-attachment: fixed;
        box-sizing: border-box;
    }
    &__inner {
        width: 850px;
        margin: 0 auto;
    }
    &__title {
        margin-bottom: 50px;
        font-family: 'Roboto-Bold', arial, sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 1;
        text-transform: none;
        color: #2d3135 !important;
    }
    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__item {
        display: inline-block;
        border-radius: 7px;
        margin-bottom: 30px;
        overflow: hidden;
        box-shadow: 0 20px 40px 0 rgba(0,0,0,.5);
    }
    &__link-wrap {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        width: 700px;
        background-color: #fff;
    }
    &__img-wrap {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: inherit;
        overflow: hidden;
        background-color: #fff;
    }
    // &__img {
    //     width: 100%;
    //     height: auto;
    // }
    
    &__info-wrap {
        width: 400px;
        padding: 25px 20px;
    }
    &__text {
        margin-bottom: 12px;
        color: #000;
        &--date {
            font-weight: 700;
        }
        &--place {
            margin-bottom: 0;
        }
    }
    &__name {
        margin-bottom: 20px;
        font-size: 21px;
        font-weight: 700;
        color: #000000 !important;
        cursor: pointer;
    }
    &__description {
        font-size: 14px;
        color: rgba(10,30,50,.6) !important;
        &--ref {
            margin-bottom: 0;
        }
    }
    &__referral-link {
        width: 100%;
        display: block;
        color: #ef4e43;
        background: transparent !important;
        border: none;
        font-size: 14px;
        font-weight: 800;
        text-decoration: underline;
    }
    &__buy-btn {
        position: absolute;
        display: block;
        width: 250px;
        padding: 12px 17px;
        background-color: #fe9600;
        color: #ffffff;
        border-radius: 5px;
        font-family: 'Roboto', arial, sans-serif;
        font-weight: bold;
        text-transform: none;
        text-align: center;
        box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.5);
        &:hover {
            & span {
                color: #ffffff;
            }
        }
        & span {
            color: #ffffff;
        }
    }
    &__back-btn {
        display: block;
        width: 100px;
        margin-bottom: 50px;
        padding: 6px 10px;
        background-color: transparent;
        color: #2d3135;
        border-radius: 5px;
        border: 1px solid #ef4e43;
        font-family: 'Roboto', arial, sans-serif;
        font-weight: bold;
        text-transform: none;
        text-align: center;
        &:hover {
            background-color: rgba(255, 255, 255, .4);
        }
    }
}

@media screen and (max-width: 1080px) {
    .events {
        &__inner {
            width: 90%;
        }
        // &__link-wrap {
        //     width: 100%;
        // }
    }
}

@media screen and (max-width: 600px) {
    .events {
        &__item {
            width: 100%;
        }
        &__inner {
            width: 90%;
        }
        &__link-wrap {
            flex-direction: column;
            width: 100%;
        }
        &__img-wrap {
            width: 100%;
            height: 230px;
        }
        &__info-wrap {
            width: 100%;
        } 
        &__name {
            font-size: 18px; 
        }
    }
}