.features {
    margin-bottom: 140px;
    padding-top: 130px;
    padding-bottom: 150px;
    background: -webkit-linear-gradient(-90deg, #fffffe, #fbf2e3 40%);
    &__title {
        width: 700px;
        margin: 0 auto;
        margin-bottom: 20px;
        @include Circe-B;
        font-size: 60px;
        line-height: 60px;
        text-align: center;
    }
    &__intro {
        margin-bottom: 70px;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }
    &__description {
        width: 950px;
        margin: 0 auto;
        margin-bottom: 40px;
        color: #a29895;
        text-align: center;
    }
    &__list {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        list-style: none;
        margin: 0;
        padding: 0;
        margin-bottom: 150px;
    }
    &__item {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        width: 100%;
        height: 303px;
        margin-bottom: 30px;
        border-radius: 12px;
        box-shadow: 0 17px 40px 0 #e9d3ae;
        background-color: #fff;
        overflow: hidden;
        &--reverse {
            flex-direction: row-reverse;
            & .features__inner {
                padding-right: 30px;
                padding-left: 0;
            }
        }
    }
    &__img-wrap {
        width: 445px;
        height: inherit;
        & img {
            width: 100%;
            height: 100%;
        }
    }
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 570px;
        padding-left: 30px;
        height: inherit;
        box-sizing: border-box;
    }
    &__subtitle {
        margin-bottom: 25px;
        @include Circe-B;
        font-size: 24px;
        line-height: 1.2;
        color: #333333;
    }
    &__text {
        @include Circe-R;
        font-size: 16px;
        line-height: 21px;
        color: #777777;
    }
    &__footer {
        width: 570px;
        margin: 0 auto;
        text-align: center;
    }
    &__footer-text {
        margin-bottom: 40px;
        @include Circe-B;
        font-size: 30px;
        line-height: 1.2;
    }
}
@media screen and (max-width: 1024px) {
    .features {
        &__title {
            font-size: 50px;
            line-height: 50px;
        }
        &__description {
            width: 100%;
        }
        &__inner {
            width: 473px;
        }
        &__img-wrap {
            width: 394px;
        }
    }
}
@media screen and (max-width: 700px) {
    .features {
        margin-bottom: 0;
        padding-top: 70px;
        padding-bottom: 70px;
        &__title {
            width: 100%;
            font-size: 36px;
            line-height: 40px;
            margin-bottom: 20px;
        }
        &__description {
            width: 100%;
            font-size: 16px;
            line-height: 20px;
        }
        &__inner {
            width: 473px;
        }
        &__img-wrap {
            width: 394px;
        }
        &__list {
            margin-bottom: 70px;
        }
        &__item {
            flex-direction: column;
            height: auto;
            margin-bottom: 20px;
            &--reverse {
                .features__inner {
                    padding: 18px;
                }
            }
        }
        &__img-wrap {
            width: 100%;
            height: 217px;
        }
        &__inner {
            width: 100%;
            padding: 18px;
        }
        &__img-wrap {
            font-size: 20px;
            line-height: 1.2;
        }
        &__footer {
            width: 100%;
        }
        &__footer-text {
            margin-bottom: 30px;
            font-size: 24px;
        }
    }
}