label.horizontal {
  > input {
    display: inline;
    width: auto;
  }
}

.form-label.select {
  padding: 0;
  border: none;

  select {
    margin: 0;
    border: none;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: 0.9rem;
  }

}

.has-error input, .has-error select, .has-error textarea {
  border-color: #a94442;
}

.autocomplete > .action-sheet-container {
  display: flex;
  > .action-sheet {
    left: 6em;
  }
}

td > input, td > .autocomplete input {
  margin: 0 !important;
}

.form-group {
  margin-bottom: 2rem;
}

.account-select {
  width: auto;
}

div.account-image {
    .icon.key > svg {
        height: 2.4rem !important;
        width: 2.4rem !important;
    }
}
.account-selector, .pubkey-input {
  clear: right;
  input {
    display: block;
    flex: auto;
  }

  .header-area {
      margin-left: 3.5rem;
  }
  .account-image {
    float: left;
    width: 3.5rem;
    > canvas, .icon.key > svg {
        height: 2.4rem !important;
        width: 2.4rem !important;
    }
  }
  > .content-area {
    //width: 100%;
    position: relative;
    width: 100%;
    display: inline-block;

    @include breakpoint(small only) {
        width: 100%;
    }
  }
}

.error-area {
    color: #E3745B;
    padding: 6px;
    padding-top: 0px;
    width: 100%;
    display: inline-block;
    background-color: #fff;
    text-transform: none;
    text-align: center;
    line-height: normal;
}

.right-label, .left-label {
  font-size: 90%;
  text-transform: uppercase;
  font-variant: small-caps;
  padding-bottom: 5px;
}

.right-label {
    float: right;
}

div.transfer-input {
  //width: 100%;
  width: 100%;
  display: inline-block;

  &.fee-row {
      position: relative;
  }

  &.fee-row {
      > .amount-selector {
          width: 100%;
		  margin-bottom: 40px;
      }
      &.proposal > .amount-selector {
          width: 100%;
		  margin-bottom: 20px;
      }
      > button {
          width: 100%;
          font-size: 1.3rem;
          border-radius: 35px;
      }
  }

  @include breakpoint(small only) {
      width: 100%;

      &.fee-row {
        > .amount-selector {
            width: 100%;
            padding-bottom: 20px;
        }

        > button {
            position: inherit;
        }
      }



  }
}

.dropdown-wrapper {
    /* Size & position */
    position: relative;
    margin: 0 auto;
    padding: 12px 15px;

    /* Styles */
    background: transparent;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-out;

    &.inactive {
        cursor: default;
    }

    > div:first-of-type {
        font-size: 0.9rem;
        font-weight: bold;

        > span.hidden {
            visibility: hidden;
        }
    }

    &.active {
        border-radius: 5px 5px 0 0;
        box-shadow: none;
        border-bottom: none;
    }

    &.active .dropdown {
        border-bottom: 1px solid rgba(0,0,0,0.2);
        max-height: 400px;
    }

    ul.dropdown {
        /* Size & position */
        min-width: 200px;
        position: absolute;
        top: 2.4rem;
        right: 0;
        z-index: 999;
        margin-left: 0;

        /* Styles */
        background: #fff;
        border-radius: 0 0 5px 5px;
        border: 1px solid rgba(0,0,0,0.2);
        border-top: none;
        border-bottom: none;
        list-style: none;
        transition: all 0.3s ease-out;

        /* Hiding */
        max-height: 0;
        overflow: hidden;

        > li {
            width: 100%;

            &:last-of-type span {
                border: none;
            }

            span {
                font-size: 0.9rem;
                font-weight: bold;
                display: block;
                text-decoration: none;
                color: #333;
                padding: 10px 10px;
                transition: all 0.3s ease-out;
            }
            i {
                margin-right: 5px;
                color: inherit;
                vertical-align: middle;
            }
        }
    }
}
.dropdown-wrapper:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
}
.dropdown-wrapper.inactive:after {
    border: 0;
}

div.input-wrapper {
    position: relative;
    div.floating-dropdown {
        background: transparent;
        position: absolute;
        right: 0;
        text-align: right;
    }
}

div.ok-indicator {
    position: absolute;
    top: 11px;
    right: 10px;
}

div.dropdown-wrapper.upper-case {
    > div, > ul > li {
        text-transform: uppercase;
    }
}

form.full-width {

    section > input {
        max-width: 100%;
    }

}
@media screen and (max-width: 600px) {
    .tr-modal {
        padding: 0;
        flex-wrap: wrap;
        & .button-group {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-direction: column;
            width: 100%;
            
        }
        & .grid-block.full-width-content {
            flex-wrap: wrap;
            flex-direction: column;
        }
        & .button {
            width: 100%;
            margin: 0 !important;
            margin-bottom: 20px !important;
        }
    }
    .account-selector .header-area, .pubkey-input .header-area {
        margin-left: 0;
    }
}