.gateway {
	&__wrap {
		margin: 0 auto;	
	}
	&__inner {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	&__header {
		margin-bottom: 25px;
		font-family: 'Roboto-Light', arial, sans-serif;
		font-size: 30px;
		color: #fff;
	}
	&__title {
		margin-bottom: 13px;
		font-family: 'Roboto-Light', arial, sans-serif;
		font-size: 20px;
		color: #fff;
		
	}
	&__description {
		font-size: 16px;
		margin-bottom: 18px;
		line-height: 1.3;
		&--min {
			display: block;
			margin-bottom: 11px;
		}
		& a {
			text-decoration: underline;
		}
	}
	&__btn {
		display: block;
		width: 100%;
	    padding: 12px 20px;
	    font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
	    font-size: 14px;
	    color: #ffffff;
	    text-transform: uppercase;
	    text-align: center;
	    background: #0671a7;
	    border-radius: 7px;
	    border: 2px solid #fff;
	    &:disabled {
	    	opacity: 0.5;
		    cursor: default;
		    pointer-events: none;
	    };
	}
	&__form {
		width: 440px;
	}
	// &__wrap {
	// 	width: 1000px;
	// 	margin: 0 auto;	
	// 	padding-top: 60px;
	// }
	&__bts-inner {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
	}
	&__list {
		width: 440px;
		color: #ffffff;
		background-color: #666464;
		border: 2px solid #0671a7;
		border-radius: 7px;
		&:hover {
			background-color: #666464;
		}
	}
	&__wallet {
		color: #0671a7;
		padding: 10px 5px;
		border: 1px solid #0671a7;
		border-radius: 7px;
	};
}
#gatewayFormBtn.gateway__btn {
	display: block;
    padding: 12px 20px;
    font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    background: #0671a7;
    border-radius: 7px;
    border: 2px solid #fff;
    & .disabled {
    	opacity: 0.5;
	    cursor: default;
	    pointer-events: none;
    };
}

@media screen and (max-width: 900px) {
	.gateway {
		&__wrap {
			width: 460px;
		}
	}
}
@media screen and (max-width: 600px) {
	.gateway {
		&__wrap {
			width: 90%;
			padding-top: 25px;
		}
		&__form {
			width: 100%;
		}
	}
}
@media screen and (max-width: 400px) {
	#gatewayForm {
		.right-label, .left-label {
			font-size: 12px;
		}
	}
}