.header.header-text {
  justify-content: flex-start;
}

.header-text {
  color: #ffffff;
}

.icon > svg {
  > path {
    fill : #fff;
  }
}

.float-left > span.icon.user {
    top: 0;
}

.header {
    .electron-navigation > ul > li {
        border: none;
    }
    &.primary {
        z-index: 11;
    }
  padding-left: 0 !important;
  min-height: 64px;
  text-transform: uppercase;
  .menu-bar > li {

    display: list-item;
    padding: 0;
    border-right: 1px solid #ffbc2b0;
    > a {
      font-weight: bold;
      line-height: 2rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      font-size: 0.72rem;
      color: #fff !important;
      @include breakpoint(large) {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
      }
    }
  }
  &__full-screen{
    display: flex;
  }
  &__mobile {
    display: none;
  }
}

div.header-balance {
    a {
        font-size: 0.72rem;
        font-weight: bold;
        &:hover {
            background-color: transparent !important;
        };
    }
}

div.account-drop-down {
    font-size: 0.72rem;
    .dropdown-divider {
        padding-bottom: 10px;
    }
  a.button {
      font-weight: bold;
      font-size: 1rem;
      background-color: transparent;
  }
  a:active.button, a:hover.button {
    background-color: transparent !important;
  }
}

div.header-right-menu {
    > .grp-menu-item {
        line-height: 2rem;

        > a {
            @include breakpoint(large) {
              padding: 14px 15px;
            }
            color: #ffffff !important;
        }
    }
}

.grp-menu-items-group {
  flex-flow: row nowrap;
  display: flex;
  justify-content: flex-end;
}

.grp-menu-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  > a, .button {
    padding: 0.5rem;
    @include breakpoint(large) {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
    font-size: 1rem;
  }
}

.user-icon > a {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.lower-case {
  text-transform: lowercase;
}
@media screen and (max-width: 800px)  {
  .header {
    &__full-screen{
      display: none;
    }
    &__mobile {
      display: block;
      & .header-menu {
        line-height: 0.9;
      }
    }
  }
}
@media screen and (max-width: 600px)  {
	#mobileMenuAccount {
		& .lower-case {
			font-size:1rem;
			color: #fe454f;
		}
		& .account-image {
			& canvas {
				width: 30px !important;
				height: 30px !important;
			}
		}
		& .action-sheet.is-active {
			width: 100%;
		}
	}
}