#helpSection {
    .help {
        &__header {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: flex-end;
            margin-bottom: 30px;
            padding-bottom: 10px;
            border-bottom: 1px solid #ccc;
        }
        &__logo {
            display: inline-block;
            width: 45px;
            margin-right: 10px;
        }
        &__right {
            font-family: 'PFDinCondensedRegular', arial, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 34px;
            font-weight: 700;
            line-height: 1;
            color: #1ca1d6;
            text-transform: uppercase;
        }
        &__title {
            margin-top: 30px;
            margin-bottom: 80px;
            color: #000;
            text-align: center;
            font-size: 44px;
        }
        &__description {
            width: 50%;
            margin: auto;
            color: #3f3f3f;
            text-align: center;
            font-size: 26px;
        }
        &__subtitle {
            color: #1ca1d6;
            font-size: 18px;
            line-height: 1.2;
            cursor: pointer;
            &:hover {
                text-decoration: underline;

            }
        }
        &__list {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            margin: 0;
            padding-top: 65px;
        }
        &__item {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            width: 330px;
            align-items: center;
            justify-content: center;
            margin-right: 60px;
            margin-bottom: 50px;
            &:last-child {
                margin-right: 0;
            };
        }
        &__img {
            width: 50px;
            margin-right: 20px;
        }
    }  
    .help-breadcrumbs {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        margin-bottom: 30px;
        &__link {
            padding-right: 6px;
            font-size: 16px;
            color: #1ca1d6;
            cursor: pointer;
            &--current {
                color: #3f3f3f;
                cursor: initial;
            }
        }
    }
    .help-content {
        &__inner {
            width: 750px;
        }
        &__list {
            list-style: none;
        }
        &__item {
            margin-bottom: 5px;
            color: #000;
            &:hover {
                .help-content__question {
                    text-decoration: underline;
                }
            };
        }
        &__question {
            font-weight: bold;
            cursor: pointer;
        }
        &__answer {
            padding: 15px;
            color: #505050;
        }
    }
}

@media screen and (max-width: 1280px) {

}
@media screen and (max-width: 900px) {
    #helpSection {
        .help {
            &__title {
                margin-top: 18px;
                margin-bottom: 52px;
                font-size: 36px;
            }
            &__description {
                width: 70%;
                font-size: 22px;
            }
            &__list {
                flex-direction: column;
                padding-top: 55px;
                margin-left: 50px;
            }
            &__item {
                width: 100%;
                margin-right: 0px;
                margin-bottom: 29px;
            }
            &__img {
                width: 40px;
                margin-right: 13px;
            }
        }  
    }
}
@media screen and (max-width: 600px) {
    #helpSection {
        .help {
            &__title {
                margin-top: 0px;
                margin-bottom: 35px;
                font-size: 24px;
            }
            &__description {
                width: 93%;
                margin: auto;
                font-size: 16px;
            }
            &__subtitle {
                font-size: 14px;
            }
            &__list {
                margin-left: 12px;
                padding-top: 39px;
                padding-left: 15px;
                padding-right: 15px;
                box-sizing: border-box;
            }
            &__item {
                justify-content: flex-start;
                margin-bottom: 25px;
            }
            &__img {
                width: 40px;
                margin-right: 13px;
            }
        }  
        .help-content {
            &__inner {
                width: 100%;
            }
        }
    }
}
@media screen and (max-width: 400px) {
    
}
