.index-main {
    font-family: Tahoma, serif;

    &__control-bar {
        display: flex;
        align-items: center;
        margin-bottom: 20px !important;
    }

    &__login {
        display: flex;
        background-image: url(../app_img/main_page/profile.png);     
        background-size: 15px;
        background-repeat: no-repeat; 
        background-position: 0 center;
        padding-left: 24px;

        > span {
            margin: 0 8px;
        }

        > div {
            color: #444444;
            cursor: pointer;
        }
    }

    &__login-text {
        color: #444444;
    }

    &__logo {
        width: 154px;
        height: 50px;
        font-size: 35px;
        color: #fe9d37;
        font-family: Circe-Bold,arial,sans-serif;
        background-image: url(../app_img/reg.png);  
        background-position: 0 center;
        background-repeat: no-repeat;
        background-size: contain;
        padding-left: 64px;
        line-height: 50px;
        margin-right: 20px;
        margin-left: 10px;

        &:hover {
            color: #fe9d37 !important;
        }
    }

    // &__banner {
    //     // height: 470px;
    //     width: 100%;
    //     background-image: url(../app_img/main_page/top_slider/banner.png);  
    //     background-repeat: no-repeat;
    //     background-size: contain;
    //     margin-bottom: 20px;
    //     padding-top: 34%;
    // }

    &__promo-bar {
        display: flex;
        align-items: center;
        justify-content: space-around;
        min-height: 62px;
        margin-bottom: 20px;
        border: 1px #dddddd solid;
        flex-wrap: wrap;
    }

    &__promo-tile {        
        height: 43px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 25%;
        flex-grow: 1;
        width: 250px;

        &:not(:last-of-type):after {
            content: "";
            position: absolute;
            height: 40px;
            width: 1px;
            // top: 0;
            // bottom: 42px;
            right: 0;
            background-color: #dddddd;
        }
    }

    &__promo-pic {
        background-image: url(../app_img/main_page/delivery.png);
        background-repeat: no-repeat;
        background-size: 43px;
        height: 43px;
        width: 43px;
        min-width: 43px;
        margin-right: 30px;

        &--shopping {
            background-image: url(../app_img/main_page/shopping.png);
        }

        &--range {
            background-image: url(../app_img/main_page/product-range.png);
        }

        &--profit {
            background-image: url(../app_img/main_page/profit.png);
        }

    }

    @media screen and (max-width: 1024px) { 
        &__promo-bar {
            padding: 0 10px;
        }

        &__promo-tile { 
            margin: 20px 20px 20px 0;

            &:not(:last-of-type):after {
                content: none;
            } 
        }
    }

    @media screen and (max-width: 768px) {
        &__promo-bar { 
            font-size: 13px;
        }

        &__control-bar { 
            flex-direction: column;
        }

        // &__promo-tile {
        //     justify-content: flex-start;
        // }

        &__promo-pic {
            margin-right: 12px;
        }

        &__search {
            max-width: 400px;
        }
     }

}