.invoice {
    &__wrap {
        position: relative;
    }
    &__title {
        margin-bottom: 20px;
        font-family: 'Roboto-Light', arial, sans-serif;
		font-size: 28px;
		font-size: bold;
		color: #2d3135 !important;
    }
    &__subtitle {
        margin: 0;
        margin-bottom: 10px;
		font-size: 22px;
		color: #243447;
		font-family: 'Roboto-Light', arial, sans-serif;
    }
    &__list {
        max-width: 500px;
        list-style: none;
        margin: 0;
        margin-left: 20px;
        margin-bottom: 30px;
        padding: 0;
        // color: #ef4e43;
    }
    &__item {
        margin-bottom: 7px;
        &--unpaid {
            padding: 5px 10px;
            background-color: #fff;
            & a {
                display: flex;
                justify-content: space-between;
            }
            &:nth-child(2n) {
                background-color: #eee;
            }
        }
    }
    &__short-text {
        color: #000 !important;
        padding-right: 10px;
    }
    &__pay-btn {
        display: block;
        padding: 6px 18px;
        background-color: #ffffff;
        color: #ee4135 !important;
        font-family: 'Roboto-Light', arial, sans-serif;
        font-size: 14px;
        text-transform: none;
        border: 1px solid #ef4e43;
    }
    &__description {
        margin-bottom: 20px;
        padding-left: 20px;
        font-family: 'Roboto-Light', arial, sans-serif;
        font-size: 20px;
        color: #888888;
    }

    &__section {
        display: block;
        
    }

    &__item {
        display: block;
        margin-bottom: 10px;
        background-color: #f2f2f2;
        padding: 20px;
    }

    // &__item-details {
        
    // }

    &__detials-wrapper {
        display: block;
        margin-top: 16px;
    }

    &__item-section {
        display: block;

        span {
            margin-right: 6px;
        }
    }

    &__currency {
        display: block;

        span {
            margin-right: 6px;
        }
    }

    &__date {
        display: block;
        margin-bottom: 14px;

        span {
            margin-right: 6px;
        }
    }

    &__order {
        display: block;
        font-weight: 600;
    }

    &__details-btn {
        display: flex;
        justify-content: center;
        background: #ff9700;
        min-width: 160px;
        width: fit-content;
        padding: 6px 20px;
        color: #ffffff;
        border-radius: 35px;
        text-align: center;
        text-transform: none;
        outline: none;
    }
}

@keyframes rotate {
    100% {-webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);}
}

.invoice-detail {
    max-width: 550px;
    background-color: #f2f2f2;
    padding: 20px;
    // box-sizing: content-box;
    margin-bottom: 40px;

    &__header {
        margin-bottom: 16px;
    }

    &__date {
        margin-right: 6px;
    }

    &__header-bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
    }

    &__logo {
        animation: rotate 6s  linear infinite;
        -webkit-animation: rotate 16s linear infinite;
    }
    &__title {
        // margin-top: 40px;
        // margin-bottom: 20px;
        font-family: 'Roboto-Light', arial, sans-serif;
		font-size: 18px;
		font-weight: bold;
        color: #2d3135 !important;
        display: inline-block;
        margin-right: 6px;
        
    }
    &__subtitle {
        font-family: 'Roboto-Light', arial, sans-serif;
        font-size: 18px;
        font-weight: bold;
    }
    &__data {
        margin-bottom: 40px;
    }
    &__inner {
        margin-bottom: 10px;
    }
    &__descript {
        padding: 4px;
        font-size: 18px;
        &:last-child {
            font-weight: bold;
        }
    }
    // &__body {
    //     width: 550px;
    // }
    &__table {
        width: 100%;
        // margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
        & td, th {
            padding: 12px 0;
            // padding-left: 5px;
        }
    }
    &__order-header {
        text-align: left;
        // background-color: #fff;
        border-bottom: 1px solid #ccc;
    }
    &__content {
        border-bottom: 1px solid #ccc;
        & tr {
            &:nth-child(odd) {
                background-color: #eee;
            }
        }
    }
    &__text {
        text-align: left;
        &--total {
            text-transform: uppercase;
            font-size: 20px;
            font-weight: bold;
        }
    }
    &__num {
        text-align: right;
        &--quantity {
            padding-right: 18px !important;
        }
    }
    &__footer {
        background-color: #fff;
        text-align: right;
    }
}

.invoice-pay {
    &__wrap{
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__inner {
        width: 45%;
        margin-bottom: 15px;
    }
    &__text {  
        display: block;
        margin-bottom: 6px;
        padding-left: 8px;
        font-size: 20px;
    }
    &__field {
        &:disabled {
            background-color: #eee !important;
        }
    }
    &__btn {
        display: block;
        width: 245px;
        padding: 15px 20px;
        background-color: #ef4e43;
        color: #fff !important;
        font-family: 'Roboto-Light', arial, sans-serif;
        font-size: 16px;
        text-transform: none;
        border-radius: 35px;
        background-color: #ef4e43;
        text-align: center;
    }
}
#invoicePayForm {
    .invoice-pay__field {
        display: block;
        width: 100%;
        margin: 0;
        margin-right: 10px;
    } 
}

@media screen and (max-width: 600px) {
    .invoice {
        &__item {
            &--unpaid {
                & a {
                    display: block;
                }
            }
        }

        &__details-btn {
            min-width: 134px;
            padding: 8px 20px;
        }        
    }
    .invoice-detail {
        &__body {
            width: 100%;
        }

        &__date-block {
            display: flex;
            flex-direction: column;
        }

        &__date {
            margin: 0 0 4px 0;
        }
    }
    .invoice-pay {
        &__btn {
            width: 100%;
        }
    }
}