.item-modal {
    width: 500px;
    position: absolute;
    top: 60px;
    right: 40px;
    border: 1px solid #6a30c7;
    z-index: 5;
    background-color: #fff;
    text-align: center;
    box-shadow: 5px 10px 8px #888888;
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
    // align-items: center;

    &__header {
        background-color: #6a30c7;
        color: #fff;
        position: relative;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 32px;

        &::after {
            content: "";
            position: absolute;
            top: -21px;
            right: 0px;
            width: 30px;
            height: 20px;
            border-bottom: solid 20px #6a30c7;
            border-left: solid 20px transparent;
            border-right: solid 20px transparent;
        }
    }

    &__close {
        // position: absolute;
        // right: 0;
        // top: 0;
        background-image: url(../app_img/cancel-cross.png);
        width: 14px;
        height: 14px;
        background-size: 14px;
        background-repeat: no-repeat; 
        margin-left: auto;
        margin-right: 10px;
        cursor: pointer;
    }

    &__text {
        margin-left: auto;
        font-size: 20px;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        margin-right: 26px;
        margin-bottom: 30px;
    }

    &__img {
        width: auto;
        height: auto;
        max-height: 92px;
        margin: 0 40px;
    }

    &__data {
        text-align: left;
    }

    &__name {
        margin-bottom: 18px;
        line-height: 20px;
    }

    &__quantity {
        margin-bottom: 6px;
        color: #C0C0C0;
    }

    &__price {
        font-weight: bold;
        font-size: 20px;
    }

    &__btn {
        margin-bottom: 20px;
        // background-color: #ff9600 !important;
    }

    @media screen and (max-width: 768px) { 
        max-width: 300px;

        &__body {
            flex-direction: column;
            align-items: center;
            margin: 0 10px 20px 10px;
        }

        &__img {
            margin: 0 25px 25px 25px;
            width: 140px;
        }

        &__btn { 
            max-width: 280px !important;
        }
    }

    @media screen and (max-width: 343px) { 
        left: 2px;

        &__header {
            &::after {
                content: none;
            }
        }
    }
}