@keyframes rotate {
    100% {-webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);}
}

.landing {
    &__wrap {
        display: flex;
        align-items: flex-start;
        position: relative;
        justify-content: center;
        flex-direction: column;
        min-height: 100vh;
        background-color: #d5d5d5;
        background-image: url(/asset-symbols/ntz-img/reg-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-attachment: fixed;
    }
    &__reg-wrap {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 60px;
        padding-bottom: 140px;
    }
    &__logo-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
        width: 50%;
    }
    &__logo {
        animation: rotate 6s  linear infinite;
        -webkit-animation: rotate 16s linear infinite;
        width: 300px;
        height: 300px;
        margin-bottom: 30px;
    }
    &__title {
        margin-bottom: 10px;
        font-family: 'Roboto-Bold', arial, sans-serif;
        font-size: 100px;
        font-weight: 700;
        line-height: 1;
        text-transform: none;
        color: #ffb000;
    }
    &__intro {
        font-family: 'Roboto-Bold', arial, sans-serif;
        font-size: 29px;
        color: #c72027;
        letter-spacing: 1px;
    }
}
.landing-form {
    &__wrap {
        display: none;
        position: absolute;
        width: 360px;
        top: 90px;
        z-index: 1000;
        left: 50%;
        margin-left: -180px;
        padding: 20px 30px;
        border-radius: 4px;
        background-color: #fff;
        -webkit-box-shadow: 0 20px 40px 0 rgba(0,0,0,.5);
        box-shadow: 0 20px 40px 0 rgba(0,0,0,.5);
        box-sizing: border-box;
        &--reg {
            position: static;
            display: block;
            margin: 0;
            margin-left: 25px;
        }
    }
    &__header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 50px;
    }
    &__subtitle {
        margin-top: 34px;
        font-family: 'Roboto-Bold', arial, sans-serif;
        font-size: 26px;
        color: #333;
        letter-spacing: 1px;
        text-align: center;
    }
    &__reg-header {
        margin-bottom: 34px;
    }
    &__link {
        align-self: center;
        margin-bottom: 50px;
        color: #008CBA;
        cursor: pointer;
        &--about {
            margin-bottom: 27px;
            font-size: 20px;
            font-weight: 700;
            text-decoration: underline;
        }
        &--index {
            display: block;
            margin-top: 10px;
            color: #333;
            font-weight: bold;
            text-decoration: underline;
        }
    }
    &__img {
        margin-bottom: 15px;
    }
    &__login-text {
        font-weight: bold;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        &--wall {
            margin-bottom: 0;
        }
    }
    &__field-wrap {
        position: relative;
    }
    &__pass-img {
        position: absolute;
        right: 0;
        top: 18px;
        width: auto;
        height: 36px;
        padding: 7px 8px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        background-color: rgba(255, 255, 255, 1);
        cursor: pointer;
        z-index: 10;
    }
    &__tick {
        width: 40px !important;
        height: 19px !important;
        margin-right: 3px !important;
        margin-top: 8px;
    }
    &__agreement-wrap {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -ms-align-items: center;
        align-items: flex-start;
    }
    &__tip {
        &--got-acc {
            padding-right: 12px;
        }
    }
    &__restoration {
        color: #ef4e43;
        font-size: 16px;
    }
}
#landingForm, #landingFormReg, #landingFormModal, #landingFormWallModal  {
    .landing-form__tip {
        position: relative;
        width: 100%;
        font-family: 'Roboto', arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        text-transform: none;
        font-size: 14px;
        color: #999;
        &--required {
            &:after {
                content: '*';
                position: absolute;
                right: -11px;
                top: -2px;
                font-size: 14px;
                color: #c72027;
            }
        }
     }
    .landing-form__group {
        margin-bottom: 5px;
    }
    .landing-form__field {
        display: block;
        width: 100%;
        height: 37px;
        margin-top: 4px;
        margin-bottom: 10px;
        padding: 0;
        padding-left: 5px;
        padding-right: 5px;
        background-color: #fff;
        border: none;
        border-bottom: 1px solid #ff9700;
        font-family: 'Roboto', arial, sans-serif;
        &:focus {
            outline: none;
            border: none;
            border-bottom: 1px solid #ff9700;
            background-color: #fff;
        }
        &:active {
            outline: none;
            border: none;
            border-bottom: 1px solid #ff9700;
            background-color: #fff;
        }
    }
    .landing-form__btn {
        width: 100%;
        padding: 12px 17px;
        background-color: #ff9700;
        color: #ffffff;
        border-radius: 5px;
        font-family: 'Roboto', arial, sans-serif;
        font-weight: bold;
        text-transform: none;
        text-align: center;
        &:hover {
            background-color: darken(#ff9700, 3%);
        }
        &:focus {
            outline: none;
        }
        &:active {
            outline: none;
        }
        &--cancel {
            margin-top: 20px;
            background: #eeeeee;
            color: #ff9700;
            &:hover {
                background-color: darken(#eeeeee, 3%);
            }
        }
    }
}
.landing-lang {
    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 160px;
    }
    &__img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    &__selector {
        box-sizing: border-box;
        margin: 0;
        border-radius: 5px;
        height: 2.6rem;
        padding: .6rem 1rem;
        color: inherit;
        font-size: 1rem;
        -webkit-font-smoothing: antialiased;
        vertical-align: middle;
        border: 1px solid #ef4e43;
        background-color: transparent;
    }
}
.landing-events {
    padding-bottom: 50px;
    &__list {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
        border-bottom: 2px solid #ffd18e;
        border-top: 2px solid #ffd18e;
    }
    &__item {
        width: 33%;
        padding-top: 15px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 15px;
        border-right: 2px solid #ffd18e;
        &:last-child {
            border-right: none;
        }
    }
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
    }
    &__img {
        display: block;
        width: 35px;
        height: auto;
        margin-bottom: 18px;
    }
    &__data {
        font-family: 'Roboto-Bold', arial, sans-serif;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        line-height: 1.2;
    }
}
.landing-modal {
    display: none;
    position: absolute;
    bottom: 83px;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.5);
    z-index: 120;
    &--show {
        display: block;
    }
    &__inner {
        margin-bottom: 20px;
    }
    &__text {
        font-size: 16px;
        line-height: 1.3;
        padding-right: 6px;

        &--block {
            display: block;
        }
    }
    &__btn {
        display: block;
        min-width: auto;
        margin: 0 auto !important;
        padding: 8px 16px;
        border: 2px solid #ff9700;
        background: #fff;
        color: #656464;
        border-radius: 5px;
        font-family: 'Roboto', arial, sans-serif;
        font-weight: bold;
        text-transform: none;
        text-align: center;
    }
}
@media screen and (max-width: 1080px) {

}
@media screen and (max-width: 770px) {
    .landing {
        &__logo-wrap {
            display: none;
        }
        &__reg-wrap {
            padding-bottom: 240px;
        }
    }
    .landing-form{
        &__wrap {
            &--reg {
                margin: 0 auto;
            }
        }
        &__logo-wrap {
            display: none;
        }
    }
}
@media screen and (max-width: 600px) {
    .landing-form {
        &__wrap {
            width: 338px;
            padding: 20px;
            margin: 30px auto 40px;
        }
    }
    .landing-events {
        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px 5px;
        }
        &__img {
            width: 29px;
            margin-bottom: 15px;
        }
        &__data {
            font-size: 16px
        }
    }
}
@media screen and (max-width: 320px) {
    .landing-form {
        &__wrap {
            width: 300px;
        }
        &__login-text {
            font-size: 14px;
        }
    }
}