.landing-footer {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 200;
    @include Circe-R;
    &--start {
        position: static;
    }
    &__inner {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;        
    }
    &__logo-wrap {
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
        & img {
            width: 33px;
            height: 33px;
            margin-right: 17px;
        }
        & span {
            @include Circe-B;
            color: #333333;
            font-size: 30px;
            line-height: 1;
        }
    }
    &__contacts {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 13px;
    }
    &__list {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__item {
        margin-right: 15px;
        line-height: 1;
        &:last-child {
            margin-right: 0;
        }
    }
    &__text {
        display: inline-block;
        @include Circe-R;
        font-size: 16px;
        color: #65544f;
        &:first-child {
            margin-right: 45px;
        }
        &:hover {
            color: #c72027;
        }
    }
    &__link {
        @include Circe-R;
        font-size: 14px;
        color: #65544f;
        &:hover {
            color: #c72027;
            border-bottom: 1px solid #c72027;
        }
    }
}

/*ADAPTIVE*/
@media screen and (max-width: 700px) {
    .landing-footer {
        &__inner {
            flex-direction: column;
            padding-left: 0;
            padding-right: 0;
        }
        &__logo-wrap {
            margin-bottom: 40px;
        }
        &__contacts {
            flex-direction: column;   
            align-items: flex-start; 
            width: 100%;
            margin-bottom: 30px;
        }
        &__text {
            &:first-child {
                margin-right: 0;
                margin-bottom: 12px;
            }
        }
        &__list {
            flex-direction: column;
            align-items: flex-start;
        }
        &__link {
            display: block;
            margin-bottom: 10px;
        }
    }
}