.login-selector {
	&__wrap {
		box-sizing: border-box;
	}
	&__btn-wrap {
		margin-top: 54px;
	    margin-bottom: 30px;
	    border: 1px solid #ccc;
	    border-radius: 7px;
	    padding: 10px 15px;
	}
	&__inner {
		margin-bottom: 20px;
	}
	&__btn {
		width: 270px;
		padding: 15px 20px;
		background-color: #0671a7;
		color: #ffffff;
		font-size: 14px;
    	text-transform: uppercase;
		box-sizing: border-box;
	}
	&__text {
		margin-bottom: 10px;
		font-family: 'Roboto-Light', arial, sans-serif;
		font-size: 16px;
	}
	&__options {
		display: flex;
		justify-content: space-between;
	}
	&__progress {
		max-width: 100%;

	}
}
@media screen and (max-width: 600px) {
	.login-selector {
		&__btn {
			width: 100%;
		}
	}
}