.marketplace {
    &__content {
        min-height: 100vh;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #d5d5d5;
        background-image: url(/asset-symbols/ntz-img/reg-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0px 0px;
        background-attachment: fixed;
        box-sizing: border-box;
    }
    &__inner {
        width: 1000px;
        margin: 0 auto;
    }
    &__title {
        margin-bottom: 20px;
        font-family: 'Roboto-Bold', arial, sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 1;
        text-transform: none;
        color: #2d3135 !important;
    }
    &__description {
        margin-bottom: 95px;
        font-family: 'Roboto-Bold', arial, sans-serif;
        font-size: 20px;
        line-height: 24px;
        color: #2d3135 !important;
    }
    &__list {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 300px;
        padding: 40px 20px 20px;
        min-height: 230px;
        margin-bottom: 58px;
        border-radius: 12px;
        border-top-left-radius: 0;
        background: #fff;
        margin-right: 40px;
        -webkit-box-shadow: 0 20px 40px 0 rgba(0,0,0,.5);
        box-shadow: 0 20px 40px 0 rgba(0,0,0,.5);
        cursor: pointer;
        &:nth-child(3n) {
            margin-right: 0;
        }
        &:hover {
            webkit-transform: translate3d(0,-2px,0);
            -moz-transform: translate3d(0,-2px,0);
            -webkit-filter: drop-shadow(0 7px 7px rgba(0, 0, 0, .4));
            filter: drop-shadow(0 7px 7px rgba(0, 0, 0, .4));
        }
    }
    &__logo-wrap {
        position: absolute;
        top: -28px;
        left: 0px;
        width: 60px;
        padding: 15px;
        padding: 8px;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 0;
        background-color: #fff;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        text-align: center;
        z-index: 102;
    }
    &__logo {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    &__name {
        font-size: 21px;
        line-height: 23px;
        font-weight: 700;
        margin-bottom: 12px;
        color: #000000;
    }
    &__detail {
        margin-bottom: 27px;
        display: inline-block;
        font-size: 14px;
        color: rgba(10, 30, 50, 0.6);
    }
    &__icons-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__img {
        width: 30px;
        height: 30px;
        padding: 3px;
        filter: grayscale(1);
        border-radius: 10px;
        border: 1px solid #eee;
        &--active {
            width: 40px;
            height: 40px;
            filter: grayscale(0);
            -webkit-box-shadow: 0 8px 16px 1px rgba(127,134,145,.3);
            box-shadow: 0 8px 16px 1px rgba(127,134,145,.3);
        }
    }
    &__ref-text {
        margin-bottom: 7px;
        font-size: 14px;
        color: rgba(10, 30, 50, 0.6);
    }
    &__referral-link {
        width: 100%;
        display: block;
        color: #000;
        background: transparent !important;
        border: none;
        font-size: 14px;
        margin-bottom: 40px;
        text-decoration: underline;    
    }
    &__link {
        display: block;
        width: 100%;
        padding: 11px 20px;
        border: 1px solid #ef4e43;
        color: #ef4e43;
        border-radius: 5px;
        box-sizing: border-box;
        text-align: center;
        font-size: 18px;
    }
}
@media screen and (max-width: 1080px) {
    .marketplace {
        &__inner {
            width: 90%;
        }
        &__item {
            width: 280px;
        }
    }
}
@media screen and (max-width: 600px) {
    .marketplace {
        &__inner {
            width: 330px;
        }
        &__list {
            justify-content: center;
        }
        &__item {
            width: 100%;
            margin-right: 0;
        }
    }
}
@media screen and (max-width: 350px) {
    .marketplace {
        &__inner {
            width: 300px;
        }
    }
}