.message {
    &__overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
        z-index: 1000;
        background-color: rgba(51, 51, 51, 0.7);
        align-items: center;
        justify-content: center;
        -webkit-transform: translate3d(0, 0, 0);
        &--active {
            display: block;
        }
    }
    &__wrap {
        position: absolute;
        top: 130px;
        left: 50%;
        width: 380px;
        margin-left: -180px;
        padding: 16px 20px;
        padding-top: 30px;
        background-color: #fff;
        border-radius: 5px;
        z-index: 1001;
    }
    &__form {
        position: relative;
    }
    &__close--btn {
        position: absolute;
        color: #999;
        top: 13px;
        right: 11px;
        font-size: 2em;
        line-height: 0.5;
        cursor: pointer;
    }
    &__field {
        &--hidden {
            display: none !important;
        }
    }
}

@media screen and (max-width: 600px) {
    .message {
        &__wrap {
            top: 60px;
            width: 320px;
            margin-left: -160px;
        }
    }
}

@media screen and (max-width: 320px) {
    .message {
        &__wrap {
            width: 300px;
            margin-left: -150px;
        }
    }
}