.ntz-footer {
    background-color: #f9f7eb;
    font-family: Tahoma, serif;
    margin-top: 36px;

    &__top {
        margin-bottom: 40px;
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
    }

    &__signup {
        > div:first-of-type {
            font-size: 18px;
            margin-bottom: 8px;
            color: #1f1f1f;
        }

        > div:last-of-type {
            font-size: 16px;
            color: #626262;
        }
    }

    &__links {
        display: flex;
        margin-top: 61px;
        padding-bottom: 72px;
    } 

    &__logo {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    &__logo-img {
        width: 51px;
        height: 50px;
        background-image: url(../app_img/footer-logo.png);
        background-size: contain;
        background-repeat: no-repeat; 
        margin-right: 13px;
    }

    &__logo-text {
        @include Circe-B;
        font-size: 35px;
    }  

    &__column {
        width: 350px;
        display: flex;
        flex-direction: column;
        padding-right: 80px;
    }

    &__slogan {
        font-size: 15px;
        width: 177px;
        margin-bottom: 43px;
        margin-left: 61px;
        line-height: 18px;
    }

    &__phone-block {
        background-image: url(../app_img/headphones.png);
        background-size: 41px;
        background-repeat: no-repeat; 
        padding-left: 64px;
    }

    &__phone-text {
        font-size: 15px;
        margin-bottom: 20px;
        color: #1f1f1f;
        line-height: 18px;
    }

    &__phone {
        font-size: 22px;
    }

    &__sub-title {
        font-size: 15px;
        text-transform: uppercase;
        color: #1f1f1f;
        margin-bottom: 32px;
    }

    &__link {
        color: #626262;
        font-size: 15px;
        margin-bottom: 20px;
    }

    &__signup-form {
        width: 548px;
        display: flex;
        height: 50px;
        margin-right: 80px;
    }

    .ntz-btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 137px;
        font-size: 15px;
    }

    .ntz-input {
        height: 50px;
    }

    &__soc {
        // width: 412px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__soc-links {
        display: flex;
        justify-content: space-between;
        align-items: center;

        > a:not(:last-of-type) {
            margin-right: 26px;
        }
    }

    &__soc-text {
        margin-right: 32px;
    }

    &__soc-img {
        display: inline-block;
        width: 24px;
        height: 24px;
        background-image: url(../app_img/soc/facebook.png);
        background-size: contain;
        background-repeat: no-repeat; 

        &--tel {
            background-image: url(../app_img/soc/telegram.png);
        }

        &--inst {
            background-image: url(../app_img/soc/instagram.png);
        }

        &--youtube {
            background-image: url(../app_img/soc/youtube.png);
        }
    }

    @media screen and (max-width: 1024px) { 
        &__top {
            flex-direction: column;
            height: 200px;
            align-items: center;
        }

        &__signup-form {
            margin-right: 0;
        }
        
        &__soc-text { 
            margin-right: 20px;
            margin-left: 20px;
        }
    }

    @media screen and (max-width: 768px) { 
        &__soc {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__soc-text {
            margin-bottom: 10px;
        }


        &__links {
            flex-direction: column;
            padding-bottom: 0;
        }

        &__signup-form {
            max-width: 310px;
            margin: 20px auto;
        }

        &__column {
            margin-bottom: 48px;
            padding-right: 0;
            padding-left: 20px;
            width: auto;
            height: auto;

            &:first-of-type {
                align-items: center;
                text-align: center;
                padding-left: 0;
            }
        }

        &__phone-block { 
            height: 41px;
        }

        &__slogan {
            text-align: left;
            margin-left: 173px;
        }
    }
}