.right-layout {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    &__wrap {
        width: 1100px;
        margin: auto;
        padding-top: 30px;
        padding-bottom: 32px;
    }
}
@media screen and (max-width: 1280px) {
    .right-layout {
        &__wrap {
            width: 900px;
        }
    }
}
@media screen and (max-width: 900px) {
    .right-layout {
        &__wrap {
            width: 700px;
        }
    }
}
@media screen and (max-width: 600px) {
    .right-layout {
        &__wrap {
            width: 90%;
        }
    }
}
@media screen and (max-width: 400px) {
    .right-layout {
        &__wrap {
            width: 95%;
        }
    }
}
