.partnership {
	&__inner {
		display: flex;
		align-items: center;
		margin-bottom: 13px;
		justify-content: flex-start;
		background-color: #fff;
		padding: 5px 0px;
	}
	&__date-block {
		margin-bottom: 40px;
	}
	&__header {
		margin-bottom: 20px;
		font-size: 28px;
		color: #2d3135 !important;
	}
	&__subtitle {
		margin: 0;
		font-size: 22px;
		color: #243447;
		font-family: "Roboto-Light", arial, sans-serif;
		&--current {
			margin-left: 10px;
			font-weight: bold;
			cursor: pointer;
			text-decoration: none;
			color: #243447;
		}
	}
	&__img {
		margin-right: 7px;
	}
	&__chat {
		display: block;
		margin-bottom: 30px;
	}
	&__link {
		color: #288eb4;
		font-family: "Roboto-Light", arial, sans-serif;
		font-size: 18px;
		line-height: 1;
		vertical-align: middle;
		&:hover {
			color: #ef4e43;
		}
	}
	&__btn-wrap {
		display: flex;
		width: 700px;
		align-items: center;
		margin-bottom: 40px;
	}
	&__btn {
		width: 210px;
		padding: 14px 20px;
		font-family: "Roboto-Light", arial, sans-serif;
		font-weight: bold;
		font-size: 18px;
		color: #ffffff !important;
		border-bottom-left-radius: 9px;
		border-bottom-right-radius: 9px;
		&--stand {
			background-color: #ef4e43;
		}
		&--business {
			background-color: #ffbc2b;
		}
		&--vip {
			background-color: #2d3135;
		}
		&:hover {
			background-color: #ef4e43;
		}
	}
	&__data {
		padding-bottom: 15px;
		margin-bottom: 40px;
	}
	&__index {
		margin-left: 10px;
		color: #258a14;
	}
	&__vesting {
		width: 650px;
	}
	&__table-wrap {
		margin-bottom: 20px;
	}
	&__table {
		width: 650px;
		margin-bottom: 10px;
		background-color: #eee;
		& span {
			padding: 4px;
		}
	}
	&__gift-wrap {
		padding-top: 20px;
		width: 630px;
		margin-bottom: 45px;
	}
	&__gift-text {
		font-size: 20px;
	}
	&__gift-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		background: #ffb107;
		min-width: 160px;
		width: fit-content;
		padding: 16px 35px;
		color: #ffffff;
		border-radius: 35px;
		text-align: center;
		text-transform: none;
		box-shadow: 0 9px 20px #dadada;

		&:hover {
			background: darken(#ffb107, 3%);
		}
		& img {
			display: block;
			margin-right: 20px;
		}
		& span {
			font-family: "Roboto-Bold", arial, sans-serif;
			font-size: 20px;
			color: #ffffff;
		}
	}
}

.partnership-card {
	&__list {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		list-style: none;
		margin: 0;
		padding: 0;
		margin-bottom: 34px;
	}
	&__item {
		width: 190px;
		margin-right: 30px;
		padding: 16px;
		padding-top: 30px;
		padding-bottom: 4px;
		border-radius: 10px;
		cursor: pointer;
		box-shadow: 0 8px 19px #9c9c9c;
		transform: translateY(0);
		transition: -webkit-transform 0.3s ease;
		-o-transition: -o-transform 0.3s ease;
		-moz-transition: transform 0.3s ease, -moz-transform 0.3s ease;
		transition: transform 0.3s ease;
		transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease, -o-transform 0.3s ease;
		&:hover {
			transform: translateY(-6px);
		}
		&:last-child {
			margin-right: 0;
		}
		&--standart {
			background-color: #e7e7e7;
		}
		&--business {
			background: radial-gradient(
				circle,
				rgba(255, 255, 255, 1) 0%,
				rgba(230, 205, 119, 1) 74%,
				rgba(230, 205, 119, 1) 100%,
				rgba(255, 255, 255, 1) 100%
			);
		}
		&--vip {
			background-color: #181a22;
		}
	}
	&__inner {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		padding-bottom: 13px;
		margin-bottom: 4px;
		border-bottom: 1px solid #ccc2aa;
		& img {
			width: 25px;
			height: auto;
			margin-right: 15px;
		}
	}
	&__title {
		font-family: Merriweather, serif;
		font-size: 23px;
		text-align: left;
		color: #2d3135;
		font-weight: bold;
		line-height: 1;
		&--vip {
			color: #d0c3a6;
		}
	}
	&__price {
		font-family: Merriweather, serif;
		font-size: 23px;
		font-weight: bold;
		text-align: left;
		color: #2d3135;
		&--vip {
			color: #d0c3a6;
		}
	}
}

.partnership-detail {
	width: 630px;
	margin-bottom: 35px;
	&__header {
		& th {
			background-color: #ef4e43;
			padding: 13px;
			border-bottom: none;
			color: #fff;
		}
	}
	&__info {
		width: 230px;
		background-color: #eeeeee;
		color: #2d3135;
		border-bottom: 1px solid #ffffff;
		text-align: left !important;
	}
	& tr {
		&:nth-child(2n) {
			background-color: #eee;
		}
	}
	& td {
		padding: 8px 13px;
		text-align: center;
	}
	&__text {
		font-size: 14px;
		line-height: 1.3;
	}
}
@media screen and (max-width: 1080px) {
	.partnership {
		&__btn {
			width: 180px;
		}
	}
}
@media screen and (max-width: 600px) {
	.partnership {
		&__inner {
			padding: 9px 8px;
			justify-content: space-between;
			background-color: #eee;
		}
		&__subtitle {
			font-size: 14px;
		}
		&__btn-wrap {
			flex-direction: column;
		}
		&__btn-wrap {
			margin-bottom: 0;
		}
		&__btn {
			width: 100%;
			margin-right: 0;
			margin-bottom: 15px;
			font-size: 16px;
			&--vip {
				margin-bottom: 0;
			}
		}
		&__vesting {
			width: 100%;
		}
		&__table {
			width: 100%;
		}
		& .acc-btn__inner {
			width: 100%;
		}
		&__gift-wrap {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			width: 93%;
			margin: auto;
			margin-bottom: 40px;
			text-align: center;
		}
	}

	.partnership-card {
		&__list {
			display: none;
		}
		&__item {
			margin: 0 auto;
			margin-bottom: 20px;
			padding-bottom: 7px;
		}
		&__inner {
			margin-bottom: 7px;
		}
	}

	.partnership-detail {
		width: 100%;
		margin-bottom: 0px;
		background-color: #eee;
		border-top-left-radius: 9px;
		border-top-right-radius: 9px;
		.partnership-detail__info {
			width: 208px;
			background-color: transparent;
			border-bottom: none;
		}
		&--standart {
			tr:nth-child(2n) {
				background-color: #ff958e;
			}
			.partnership-detail__header {
				background-color: #ef4e43;
			}
		}
		&--business {
			tr:nth-child(2n) {
				background-color: #ffe2a4;
			}
			.partnership-detail__header {
				background-color: #ffbc2b;
			}
		}
		&--vip {
			tr:nth-child(2n) {
				background-color: #d0c3a6;
			}
			.partnership-detail__header {
				background-color: #2d3135;
			}
		}
		&__table-wrap {
			margin-bottom: 20px;
		}
		&__header {
			& th {
				font-size: 18px;
				text-align: center !important;
				text-transform: uppercase;
			}
		}
	}
}
