.partners {
    padding-top: 150px;
    padding-bottom: 150px;
    background: -webkit-linear-gradient(-90deg, #edf1f4, #ffffff 80%);
    &__header {
        width: 920px;
        margin: 0 auto;
    }
    &__title {
        margin-bottom: 40px;
        @include Circe-B;
        font-size: 60px;
        line-height: 60px;
        text-align: center;
        color: #41617e;
        text-align: center;
        &--left {
            display: block;
            margin-bottom: 45px;
            @include Circe-B;
            font-size: 40px;
            line-height: 1.2;
            color: #41617e;
            text-align: left;
        }
    } 
    &__description {
        margin-bottom: 95px;
        @include Circe-R;
        font-size: 20px;
        line-height: 30px;
        color: #6e899e;
        text-align: center;
    }
    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-bottom: 40px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 270px;
        margin-right: 15px;
        margin-bottom: 65px;
        text-align: center;
        &:nth-child(3n) {
            margin-right: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &__img-logo {
        display: block;
        width: auto;
        height: 50px;
        margin-bottom: 25px;
    }
    &__name {
        display: block;
        margin-bottom: 12px;
        @include Circe-B;
        font-size: 18px;
        line-height: 17.6px;
        color: #333333;
    }
    &__item-inner {
        width: 210px;
    }
    &__item-text {
        display: block;
        @include Circe-R;
        font-size: 14px;
        line-height: 1.2;
        color: #777777;
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__left {
        width: 50%;
        margin-right: 15px;
        margin-top: 54px;
        margin-bottom: 56px;
        padding-right: 160px;
        box-sizing: border-box;
    }
    &__right {
        width: 50%;
        padding: 53px 93px 64px 93px;
        border-radius: 20px;
        background: -webkit-linear-gradient(54deg, #1f5280, #429be1 80%);
        box-sizing: border-box;
        color: #ffffff;
    }
    &__reg-text {
        display: block;
        @include Circe-R;
        font-size: 24px;
        line-height: 30px;
        &--top {
            @include Circe-B;
        }
    }
    &__email {
        display: block;
        padding-top: 30px;
        @include Circe-B;
        font-size: 36px;
        line-height: 30px;
        color: #ffffff;
        &:hover {
            color: #f3cf00 !important;
        }
        &:active {
            color: #f3cf00 !important;
        }
        &:visited {
            color: #f3cf00 !important;
        }
        &:focus {
            color: #f3cf00 !important;
        }
    }
}
@media screen and (max-width: 1024px) {
    .partners {
        &__header {
            width: 100%;
            margin: 0 auto;
        }
        &__title {
            font-size: 50px;
            line-height: 50px;
            &--left {
                font-size: 34px;
            }
        }
        &__right {
            padding: 50px;
        }
     }
}
@media screen and (max-width: 700px) {
    .partners {
        padding-top: 70px;
        padding-bottom: 70px;
        &__title {
            margin-bottom: 50px;
            font-size: 32px;
            line-height: 40px;
            &--left {
                font-size: 36px;
                line-height: 1.2;
            }
        }
        &__description {
            margin-bottom: 50px;
            font-size: 16px;
            line-height: 20px;
        }
        &__inner {
            flex-direction: column;
        }
        &__right {
            width: 100%;
            padding: 50px 35px;
        }
        &__list {
            padding-bottom: 0;
        }
        &__item {
            margin-right: 0;
        }
        &__left {
            width: 100%;
            margin: 0;
            margin-bottom: 70px;
            padding-right: 0;
        }
        &__reg-text {
            font-size: 18px;
            line-height: 24px;
        }
        &__email {
            font-size: 34px;
        }
     }
}