.payment-form {
    width: 450px;
    &__content {
        background-color: #fff;
    }
    &__ex-wrap {
        margin-bottom: 40px;
        font-size: 24px;
        color: #ef4e43;
    }
    &__inner {
        margin-bottom: 30px;
        &--hidden {
            display: none;
        }
    }
    &__header {
        margin-bottom: 20px;
        font-size: 28px;
        font-size: bold;
        color: #2d3135 !important;
    }
    &__description {
        margin-bottom: 30px;
    }
    &__rate{
        font-weight: bold;
    }
    &__agree {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
        & span {
            color: #3e3e3e !important;
            text-transform: none;
        }
    }
    &__field {
        background-color: #fff!important;
        border: 1px solid #dee2e6!important;
        border-radius: 5px;
        color: #3e3e3e!important;
    }
    &__checkbox {
        margin: 0;
        width: 30px !important;
        margin-right: 10px !important;
    }
    &__btn {
        &:disabled {
            opacity: 0.5;
        }
    }
    &__label {
        >span {
            color: #3e3e3e !important;
            font-weight: bold;
        }
    }
}

/*ADAPTIVE*/
@media screen and (max-width: 600px) {
    .payment-form {
        width: 100%;
        &__ex-wrap {
            margin-bottom: 35px;
            font-size: 20px;
        }
        &__btn {
            width: 100%;
        }
    }
}