.phone-input {
    width: 402px;

    &__input-block {
        display: flex;
    }

    &__select {
        margin-right: 8px;
        width: 80px;
    }

    @media screen and (max-width: 768px) {  
        width: 100%;
    }
}