.promo {
    background-color: #fefafa;
    background-image: url(/asset-symbols/ntz-img/promo-bg.png);
    background-size: 28%;
    background-repeat: no-repeat;
    background-position: right top;
    &__content {
        width: 1030px;
        margin: 0 auto;
        padding-top: 80px;
        padding-bottom: 30px;
        box-sizing: border-box;
    }
    &__title {
        margin-bottom: 80px;
        @include Circe-B;
        font-size: 60px;
        line-height: 1;
        text-transform: none;
        color: #65544f !important;
    }
    &__list {
        margin: 0;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 340px;
        margin-bottom: 40px;
        background-color: #ffffff;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 17px 40px 0 #fadfe6;
        padding: 20px 0;
        &--reverse {
            flex-direction: row-reverse;
            & .promo__img-wrap {
                padding-left: 0;
                padding-right: 20px;
            }
        }
        &--self-height {
            height: auto;
        }
    }
    &__inner {
        width: 50%;
        padding: 0 40px;
        box-sizing: border-box;
    }
    &__subtitle {
        display: block;
        @include Circe-B;
        font-size: 30px;
        line-height: 1;
        color: #333333;
        margin-bottom: 12px;
    }
    &__text {
        margin-bottom: 5px;
        @include Circe-R;
        font-size: 16px;
        line-height: 1.5;
        color: #777777;
        &--info {
            font-weight: bold;
            color: #65544f;
        }
        & span {
            font-weight: 700;
        }
    }
    &__important-txt {
        display: inline-block;
        @include Circe-B;
        font-size: 16px;
        line-height: 1;
        color: #65544f;
    }
    &__img-wrap {
        display: flex;
        align-items: center;
        width: 50%;
        height: 100%;
        padding-left: 20px;
        background-color: #ffffff;
        & img {
            width: 100%;
            height: auto;
        }
    }
    &__links-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        color: #65544f;
        text-decoration: underline;
    }

    &__inner-list {
        li {
            margin-bottom: 3px;
            font-family: 'Circe-Regular', arial, sans-serif;
            font-weight: normal;
            font-style: normal;
            font-size: 14px;
            line-height: 1.2;
            color: #777777;
        }
    }
}
@media screen and (max-width: 1024px) {
    .promo {
        &__content {
            width: 950px;       
        }
    }
}
// @media screen and (max-width: 768px) {
//     .promo {
//         &__content {
//             width: 700px;       
//             padding-top: 40px;
//         }
//         &__title {
//             margin-bottom: 50px;
//             font-size: 45px;
//         }
//         &__inner {
//             width: 500px;
//             padding: 0px 30px;
//         }
//         &__img-wrap {
//             align-items: center;
//             width: 200px;
//         }
//     }
// }
@media screen and (max-width: 768px) {
    .promo {
        background-size: 74%;
        background-position: 152px -42px;
        &__content {
            width: 92%;       
            padding-top: 28px;
        }
        &__title {
            margin-bottom: 50px;
            font-size: 44px;
            text-shadow: 0 11px 15px #ffffff;
        }
        &__item {
            flex-direction: column;
            height: auto;
            &--reverse {
                .promo__img-wrap {
                    padding-right: 0;
                }
            }
        }
        &__inner {
            width: 100%;
            padding: 30px 20px;
        }
        &__img-wrap {
            width: 100%;
            padding-left: 0;
        }
        &__text {
            line-height: 1.4;
        }
        &__impotrant-txt {
            font-size: 20px;
        }
        &__links-wrap {
            align-items: flex-start;
            flex-direction: column;
        }
    }
}