.product-page {
    font-family: Tahoma, serif;
    margin-bottom: 20px;
    margin-top: 50px;

    &__top {
        display: grid;
        grid-template-columns: 4fr 6fr;
        column-gap: 80px; //80px;
        margin-bottom: 40px;
    }

    &__name {
        font-size: 22px;
        line-height: 34px;
        margin-bottom: 20px;
    }

    &__img-wrapper {
        // width: 400px;
        height: 400px;
        place-self: center;
    }

    &__img {
        width: auto;
        height: auto;
        max-height: 400px;
    }

    &__description {
        font-size: 16px;
        margin-bottom: 30px;
        line-height: 24px;
    }

    &__prices {
        margin-bottom: 34px;
        display: flex;
    }

    &__price {
        font-size: 30px;
        color: #6a30c7;
        margin-right: 14px;
    }

    &__old-price {
        margin-right: 8px;
        align-self: flex-end;
        text-decoration: line-through;
    }

    &__mkt-price {
        align-self: flex-end;
    }

    &__controls {
        display: flex;
        align-items: center;

        > div:first-of-type {
            margin-right: 34px;
        }
    }

    &__tab-bar {
        display: flex;
        align-items: center;
        background-color: #f9f7eb;
        height: 108px;
        margin-bottom: 40px;
    }

    &__tab-title {
        margin-left: 60px;
        color: #6a30c7;
        font-size: 15px;
        text-transform: uppercase;
    }

    &__details-wrapper {
        padding: 0 20px;
    }

    &__details {
        font-size: 14px;
        line-height: 20px;
        // padding: 0 20px;
    }

    &__paragraph {
        margin-bottom: 16px;
    }

    &__ref-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 30px;

        > div {
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }

    &__ref {
        color: rgba(239, 78, 67, 0.8);
    }

    &__ref-title {
        font-weight: bold;
    }

    &__ref-btn {
        padding: 10px 20px;
        font-size: 12px;
        color: #ffffff;
        text-align: center;
        background: #ffbc2b;
        border-radius: 39px;
        // box-sizing: border-box;
        min-width: 160px;
        margin-bottom: 10px;

        &:focus {
            outline: none;
            border: none;
        }
    }

    @media screen and (max-width: 1024px) {  
        &__top {
            grid-template-columns: 10fr;
            grid-template-rows: auto auto;
        }

        &__img-wrapper {
            margin-bottom: 20px;
        }
    }

    @media screen and (max-width: 768px) {  
        &__img {
            height: 300px;
        }

        &__img-wrapper {
            height: auto;
        }
    }
     
    @media screen and (max-width: 576px) {  
        &__controls {
            flex-direction: column;
        }

        .cart__quantity {
            margin-bottom: 32px;
            margin-right: 0 !important;
        }

        &__prices {
            justify-content: center;
        }
    }
}