@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.referral-link {
	display: block;
	width: 100%;
	margin-top: -15px;
	padding-bottom: 0;
	color: #ef4e43 !important;
	padding-bottom: 18px;
	&__text {
		display: block;
		padding-top: 3px;
		padding-bottom: 6px;
		color: #999 !important;
	}
	&__ref {
		width: 100%;
		display: block;
		margin-bottom: 15px;
		color: #ef4e43;
		background: transparent !important;
		border: none;
	}
	&__note {
		opacity: 0;
		position: absolute;
		top: -53px;
		left: 50%;
		width: 100px;
		margin-left: -50px;
		padding: 11px 15px;
		font-size: 14px;
		color: #fff;
		text-align: center;
		background-color: rgba(239, 78, 67, 0.8);
		border-radius: 35px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		box-shadow: 0 5px 10px 0px #2d2d2d;
		&--fadeIn {
			animation-name: fadeIn;
			animation-duration: 1.5s;
		}
	}
	.acc-btn__inner {
		box-shadow: none;
	}
}
.referral-membership {
	&__title {
		font-size: 28px !important;
	}
	&__link {
		margin-top: 10px;
		margin-bottom: 15px;
		color: #fe4647;
		font-size: 1.3rem;
	}
	&__btn-wrap {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		width: 330px;
		padding: 30px 1.5rem 18px;
	}
	&__grid {
		width: 100%;
		margin-bottom: 20px;
		padding-left: 15px;
		padding-right: 15px;
	}
	&__table {
		padding-top: 15px;
		padding-bottom: 20px;
	}
}
@media screen and (max-width: 600px) {
	.referral-link {
		width: 100%;
	}
	.referral-membership {
		&__title {
			font-size: 20px !important;
			text-align: center;
		}
		&__link {
			font-size: 1rem;
		}
		&__btn-wrap {
			width: 100%;
			padding: 15px 10px 20px;
		}
		&__grid {
			padding: 0;
		}
	}
}
