.reg-form {
    width: 300px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #0671a7;
    &__show {
        display: block;
    }
    &__hide{
        display: none;
    }
    &__content {
        background-color: #fff!important;
        width: 100%;
        height: 100%;
    }
    &__wrap {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 650px;
        margin: 50px auto 0;
        background-color: #fff;
        &>div {
            width: 100%;
        }
    }
    &__header {
        @include PFDinCondensedRegular;
        font-weight: normal;
        font-style: normal;
        font-size: 140px;
        font-weight: 700;
        line-height: 1;
        color: #1ca1d6 !important;
        text-transform: uppercase;
    }
    &__img {
        height: auto;
        width: 100%;
    }
    &__title {
        color: #0671a7;
        font-weight: bold;
    }
    &__field {
        background-color: #fff!important;
        border: 1px solid #dee2e6!important;
        border-radius: 5px;
        color: #3e3e3e!important;
    }
    &__check {
        color: #3e3e3e!important;
        text-transform: none;
    }
    &__tick {
        width: 51px !important;
        height: 22px !important;
        margin: 0;
        margin-right: 12px !important;
    }
    &__inner {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -ms-align-items: center;
        align-items: center;
    }
    &__error {
        margin-bottom: 16px;
    }
    .account-name {
        margin-bottom: 0;
    }
    &__btn {
        margin: 0;
        margin-bottom: 20px;
    }
    &__login {
        margin: 0;
        font-variant: initial;
        font-size: 16px;
        color: #0671a7;
        text-transform: none;
        line-height: 1.3;
        text-align: center;
        cursor: pointer;
        &--bold {
            font-weight: bold;
            text-decoration: underline;
        }
    }
    &__footer {
        width: 650px;
        margin: auto;
        background: #1ca1d6;
        color: #fff;
        padding: 20px 30px;
        border-radius: 5px;
        font-size: 18px;
        line-height: 1.3;
    }
}
#regForm {
    & input {
        background-color: #fff!important;
        border: 1px solid #dee2e6!important;
        border-radius: 5px;
        color: #3e3e3e!important;
    }
    & label {
        font-variant: initial;
        font-size: 16px;
        color: #0671a7;
        font-weight: bold;
        text-transform: none;
        line-height: 1.3;
    }
}
#authorizeForm {
    & input {
        background-color: #fff!important;
        border: 1px solid #dee2e6!important;
        border-radius: 5px;
        color: #3e3e3e!important;
    }
    & label {
        font-variant: initial;
        font-size: 16px;
        color: #0671a7;
        font-weight: bold;
        text-transform: none;
        line-height: 1.3;
    }
    & .header-area {
        display: none;
    }
    & .input-area {
        margin-left: 0!important;
        margin-bottom: 16px!important;
    }
}

.authorize-form {
    display: none;
    &__show {
        display: block;
    }
}



/*ADAPTIVE*/
@media screen and (max-width: 600px) {
    .reg-form {
        width: 100%;
        &__header {
            text-align: center;
        }
        &__wrap {
            width: 100%;
            margin: 0px auto 0;
            padding: 20px;
        }
        &__img {
            display: none;
        }
        &__footer {
            width: 100%;
            border-radius: 0;
        }
    }
}