.ntz-search {
    margin-bottom: 27px;
    &__wrap {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
    }
    &__inner {
        position: relative;
        width: 100%;
    }
    &__field {
        margin-bottom: 0 !important;
        padding-left: 10px !important;
        padding-right: 10px !important;   
        margin-right: 0px !important;
        border-radius: 0px !important;
        border-top-left-radius: 7px !important;
        border: 1px solid #cecece !important;
        background-color: #f0f0f0 !important;
        &:focus {
            outline: none !important;
            border: 1px solid #cecece;
        }
        &:active {
            outline: none !important;
            border: 1px solid #cecece;
        }
    }
    &__btn {
        padding: 0px 20px;
        text-align: center;
        border-radius: 7px;
        background-color: #ffbc2b;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 0px !important;
        border-top-right-radius: 7px !important;
        cursor: pointer;
    }
    &__btn-text {
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
    }
    &__cancel-btn {
        position: absolute;
        width: 13px;
        top: 13px;
        bottom: 0;
        right: 10px;
        cursor: pointer;
        z-index: 4;
        opacity: 0.75;
    }
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
        border-left: 1px solid #dcdcdc;
        border-right: 1px solid #dcdcdc;
        background-color: #fff;
        box-sizing: border-box;
        list-style: none;
    }
    &__item {
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid #cecece;
        cursor: pointer;
    }
    &__result-question {
        margin-bottom: 2px;
        font-weight: bold;
        color: #0671a7;
        line-height: 1;
    }
    &__result-breadcrumbs {
        font-size: 14px;
        color: #948f8f;
    }
}

@media screen and (max-width: 600px) {
    .ntz-search {
        &__btn {
            padding: 0px 10px;
        }
    }
}