.search-results {
    margin-bottom: 20px; 
    position: relative;
    z-index: 1;  
    // display: grid;
    // grid-template-columns: 261px 112px;
    // column-gap: 30px;
    // display: flex;
    // justify-content: center;

    &__name {
        font-family: Tahoma, serif;
        font-size: 14px;
        color: #626060;
        text-align: center;
        margin-bottom: 16px;
    }

    &__list {
        // display: grid;
        // grid-gap: 54px;
        // grid-template-columns: repeat(auto-fill, 225px);
        // max-width: 1110px;
        // justify-items: center;
        // margin: 0 auto;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    &__card {
        height: 377px;
        width: 225px;
        list-style-type: none;
        // align-self: center;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin: 27px;

        &:after { 
            content: '';
            position: absolute;
            border-left: 1px solid #ececec;
            top: 14px;
            right: -27px;
            height: 360px;
        }
    }

    &__image-wrapper {
        // width: 222px;
        height: 226px;
        margin-bottom: 16px;
        display: flex;
        align-items: center;
    }

    &__image {
        width: auto;
        height: auto;
        max-height: 226px;
    }

    &__price {
        font-family: Tahoma, serif;
        color: #6a30c7;
        font-size: 16px;
        margin-bottom: 12px;
        text-align: center;
    }

    @media screen and (max-width: 576px) { 
        &__card { 
            &::after {
                content: none;
            }
        }
    }
}