.settings {
    &__right {
        width: 50%;
        padding-bottom: 40px;
    }
    &__wrap {
        width: 400px;
    }
    &__header {
        margin-left: 0;
        margin-bottom: 8px;
        font-size: 14px;
        font-weight: bold;
        text-transform: initial;
        line-height: 1.3;
    }
    &__list {
        margin-left: 0;
        list-style: none;
    }
    &__item {
        padding: 10px 12px 8px 8px;
        color: #3f3f3f;
        overflow: visible;
        box-sizing: border-box;
        margin: 0;
        margin-bottom: 20px;
        border: 0;
        border-radius: 5px;
        height: 2.6rem;
        padding: 0.6rem 1rem 0.6rem 1rem;
        color: inherit;
        font-size: 1rem;
        -webkit-font-smoothing: antialiased;
        vertical-align: middle;
        border-bottom: 2px solid #ef4e43;
        background-color: #eee !important;
    }
    &__timeout {
        background-color: #eee !important;
    }
    &__active-wallet {
        margin-bottom: 23px;
        color: #ef4e43;
        font-size: 20px;
        font-weight: bold;
    }
    &__btn-ok {
        min-width: 160px;
        width: fit-content;
        padding: 10px 23px;
        background: #ef4e43;
        color: #ffffff;
        border-radius: 35px;
        text-align: center;
        text-transform: none;
        cursor: pointer;
        &:hover {
            background-color: darken(#ef4e43, 3%);
        }
    }
    &__btn-cancel {
        min-width: 160px;
        width: fit-content;
        padding: 10px 23px;
        background: #eeeeee;
        color: #ef4e43;
        border-radius: 35px;
        text-align: center;
        text-transform: none;
        cursor: pointer;
        &:hover {
            background-color: darken(#eeeeee, 3%);
        }
    }
}

.settings-menu {
    margin-left: 0;
    list-style: none;
    > li {
        padding: .2rem 1rem;
        font-weight: bold;
        font-size: 14px;
        cursor: pointer;
        &:hover {
          color: #ef4e43;
        }
        &.active {
          color: #ef4e43;
        }
    }
}

@media screen and (max-width: 600px) {
    .settings {
        &__right {
            width: 90%;
            margin: 0 auto;
            padding-bottom: 30px;
        }
        &__wrap {
            width: 100%;
        }
    }
}