.start-about {
    padding-top: 150px;
    padding-bottom: 87px;
    background-image: url(/asset-symbols/ntz-img/about-bg.png);
    background-color: #1a1224;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 0;
    &__inner {
        width: 550px;
        margin-bottom: 55px;
    }
    &__text {
        font-size: 22px;
        line-height: 1.3;
        color: #fff;
        &--mission {
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 26px;
        }
        &--highlighted {
            color: #ffa200;
        }
    }
}

@media screen and (max-width: 1024px) {
    .start-about {
        padding-top: 88px;
        &__inner {
            width: 530px;
        }
    }
}
@media screen and (max-width: 500px) {
    .start-about {
        flex-direction: column;
        padding-top: 74px;
        padding-bottom: 240px;
        background-image: url(/asset-symbols/ntz-img/about-bg-mobile.png);
        background-size: contain;
        background-position: bottom;
        &__inner {
            width: 100%;
        }
        &__text {
            font-size: 20px;
            line-height: 30px;
            &--mission {
                font-size: 22px;
            }
        }
    }
}