.start {
    position: relative;
    max-width: 1370px;
    margin: 0 auto;
    background-color: #fff;
    z-index: 100;
    &__container {
        width: 1110px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
        @include Circe-R;
        color: #65544f;
    }
    
}
.start-header {
    position: relative;
    text-align: center;
    background-color: #f9f7eb;
    background-image: url(/asset-symbols/ntz-img/header-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 bottom;
    z-index: 100;
    &__wrap {
        background-color: #fff;
    }
    &__list {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        list-style: none;
        margin: 0;
        padding: 0;
        padding-left: 50px;        
    }
    &__item {
        &--logo {
            width: 140px;
        }
    }
    &__text {
        display: inline-block;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 14px;
        text-align: center;
        cursor: pointer;
        &:hover {
            color: #ff8400;
        }
    }
    &__img-wrap {
        position: absolute;
        top: -12px;
        left: 50%;
        margin-left: -60px;
        padding: 24px;
        border-radius: 50%;
        background-color: #fff;
        z-index: 110;
    }
    &__img {
        width: 75px;
        height: 75px;
    }
    &__container {
        padding-top: 120px;
        padding-bottom: 630px;
    }
    &__inner {
        width: 600px;
        margin: 0 auto;
    }
    &__intro {
        padding-bottom: 25px;
        @include Circe-L;
        font-size: 35px;
    }   
    &__title {
        margin-bottom: 25px;
        @include Circe-B;
        font-size: 123px;
        line-height: 1.1;
        background: -webkit-linear-gradient(#fe9d37, #ff8400);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
    }
    &__description {
        margin-bottom: 40px;
        font-size: 20px;
        line-height: 24px;
    }
    &__btn {
        display: inline-block;
        width: 350px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 30px;
        box-sizing: border-box;
        text-align: center;
        background: #ff8400;
        background: -webkit-linear-gradient(#fe9d37, #ff8400);
        background: -moz-linear-gradient(top,#fe9d37, #ff8400);
        box-shadow: 0 17px 40px 0 #ffd3a3;
        cursor: pointer;
        &:hover {
            background: #FE9F3C;
            background: -webkit-linear-gradient(top, #FE9F3C, #F28612);
            background: -moz-linear-gradient(top, #FE9F3C, #F28612);
            background: linear-gradient(to bottom, #FE9F3C, #F28612);
            transition: all 0.3s ease 0s;
        }
        
        & span {
            color: #ffffff;
        }
        &--about {
            box-shadow: 0 17px 40px 0 #352b1e;
        }
    }
}

@media screen and (max-width: 1024px) {
    .start {
        margin: 0;
        &__container {
            width: 960px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .start-header {
        &__container {
            padding-bottom: 500px;
        }
        &__list {
            padding-left: 0;
        }
        &__text {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

@media screen and (max-width: 500px) {
    .start {
        &__container {
            width: 350px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .start-mobile {
        background-color: #fff;
        &__img {
            width: 33px;
            height: 33px;
        }
        &__wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .start-header {
        &__container {
            padding-top: 36px;
            padding-bottom: 200px;
        }
        &__inner {
            width: 100%;
        }
        &__intro {
            font-size: 15.4px;
            line-height: 30px;
            margin-bottom: 10px;
        }
        &__title {
            margin-bottom: 20px;
            font-size: 55px;
        }
        &__description {
            font-size: 14px;
            line-height: 18px;
        }
        &__btn {
            display: block;
            width: 258px;
            margin: 0 auto;
        }
    }
}