.support {
    &__title {
        color: black; // remove
        font-size: 26px;
        margin-bottom: 45px;
    }

    &__label {
        margin-bottom: 7px;
        text-transform: none;
        font-family: Roboto-Regular, arial, sans-serif;
        font-size: 14px;
        color: #999999 !important;
        height: 31px;
    }

    &__form {
        max-width: 600px; 

        input[type="text"], textarea {
            border-bottom: 2px solid #FF9700 !important;
            border-top: none;
            border-left: none;
            border-right: none;
        }

        > div, > label, > button {
            margin-bottom: 20px;
        }
    }

    &__input-block {
        position: relative;
    }

    &__email-error {
        position: absolute;
        color: #ff0000;
        top: 19px;
    }

    &__upload {
        display: flex;
        margin-bottom: 20px;
        cursor: pointer;
        border-radius: 5px;
        border-bottom: 2px solid #FF9700;

        input[type="file"] {
            display: none;
        }

        img {
            margin-left: auto; 
            margin-bottom: 8px;
            margin-right: 6px;
        }
    }

    &__submit {
        background: #FF9700;
        border-radius: 4px;
        color: #fff;
        height: 42px;
        width: 300px;
    }


}