.techno {
    padding-top: 140px;
    
    background-color: #fefefe;
    background-image: url(/asset-symbols/ntz-img/tech-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 top;
    &__title {
        margin-bottom: 90px;
        @include Circe-B;
        font-size: 60px;
        line-height: 60px;
        text-align: center;
    }
    &__list {
        width: 730px;
        list-style: none;
        margin: 0 auto;
        padding: 0;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 35px;
    }
    &__img {
        width: 64px;
        height: auto;
        margin-right: 28px;
    }
    &__text {
        display: inline-block;
        width: 100%;
        font-size: 16px;
        line-height: 24px;
        color: #555555;
    }
    &__join-wrap {
        padding-top: 215px;
        padding-bottom: 220px;
        background: -webkit-linear-gradient(-90deg, #ffffff, #fbf2e4);
        text-align: center;
    }
    &__join {
        display: inline-block;
        @include Circe-B;
        font-size: 60px;
        line-height: 60px;
        background: -webkit-linear-gradient(#fe9d37, #ff8400);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-decoration: underline;
        border-bottom: 4px solid #ff8400;
    }
}
@media screen and (max-width: 1024px) {
    .techno {
        &__title {
            font-size: 50px;
            line-height: 50px;
        }
    }
}
@media screen and (max-width: 700px) {
    .techno {
        padding-top: 70px;
        &__title {
            margin-bottom: 43px;
            font-size: 36px;
            line-height: 40px;
        }
        &__list {
            width: 100%;
        }
        &__item {
            flex-direction: column;
            margin-bottom: 15px;
        }
        &__img {
            margin-right: 0;
            margin-bottom: 10px;
        }
        &__join-wrap {
            padding-top: 70px;
            padding-bottom: 70px;
        }
        &__join {
            font-size: 22px;    
            line-height: 1.2;
        }
    }
}