.thank-page {
    background-color: #f9f7eb;
    padding: 23px 29px 42px 29px;
    font-family: Tahoma, serif;

    hr {
        display: block;
        width: 40px;
        height: 2px;
        border: 0;
        border-top: 2px solid #6a30c7;
        margin-bottom: 25px;
    }

    &__title {
        font-size: 28px;
        margin-bottom: 32px;
    }

    &__p {
        font-size: 16px;
        margin-bottom: 48px;
    }

    .ntz-btn {
        width: 173px;
        font-size: 15px;
    }
}