.tickets {
    &__content {
        padding-top: 50px;
        // background: linear-gradient(160deg, rgba(239,239,239,1) 50%, rgba(113,26,166,1) 50%, rgba(113,26,166,1) 100%);
        box-sizing: border-box;
        background-color: #d5d5d5;
        background-image: url(/asset-symbols/ntz-img/reg-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0px 0px;
        background-attachment: fixed;
        &--ntz {
            background: linear-gradient(160deg, #efefef 30%, #accaf1 70%)
            
        }
    }
    &__wrap {
        max-width: 1140px;
        margin: 0 auto;        
    }
    &__title {
        margin-bottom: 50px;
        font-family: 'Roboto-Bold', arial, sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 1;
        text-transform: none;
        color: #2d3135 !important;
    }
    &__data-list {
        list-style: none;
        margin: 0;
        margin-bottom: 50px;
        padding: 0;
        padding-left: 40px;
    }
    &__data-item {
        margin-bottom: 9px;
    }
    &__data-title {
        font-family: 'Roboto-Bold', arial, sans-serif;
        font-size: 20px;
        line-height: 24px;
        color: #2d3135 !important;
        font-weight: 700;
    }
    &__data-text {
        font-family: 'Roboto-Bold', arial, sans-serif;
        font-size: 20px;
        line-height: 24px;
        color: #2d3135 !important;
    }
    &__email-block {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 300px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    &__email {
        display: inline-block;
        margin-bottom: 20px;
        font-size: 25px;
        color: #2d3135 !important;
        text-align: center;
    }
    &__date-input {
        border: 1px solid #ef4e43;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;
        padding-bottom: 60px;
    }
    &__item {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        flex-direction: column;
        width: 350px;
        margin: 15px;
        padding: 90px 40px 60px;
        background-color: #3111ff;
        color: #ffffff;
        text-align: center;
        box-sizing: border-box;
		transform: translateY(0);
		transition: -webkit-transform .3s ease;
		-o-transition: -o-transform .3s ease;
		-moz-transition: transform .3s ease,-moz-transform .3s ease;
		transition: transform .3s ease;
        transition: transform .3s ease,-webkit-transform .3s ease,-moz-transform .3s ease,-o-transform .3s ease;
        box-sizing: border-box;
        text-align: center;
        &--ntz {
            background-color: #ffbc2b;
        }
		&:hover {
            box-shadow: 3px 0px 18px #34114a;
			transform: translateY(-6px);
		}
    }
    &__name {
        margin-bottom: 40px;
        @include PFDinCondensedRegular;
        font-size: 74px;
        font-weight: bold;
        line-height: 1;
        text-transform: uppercase;
        color: #fff !important;
    }
    &__today {
        color: #fff;
        font-size: 26px;
    }
    &__price-now {
        margin-bottom: 15px;
        font-size: 36px;
        font-weight: 900;
        color: #EFA422;  
        &--ntz {
            color: #000000;
        }
    }
    &__rise-date {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 40px;
        color: #fff;
    }
    &__rise-new {
        margin-bottom: 40px;
        color: #ccc;
        font-size: 24px;
        font-weight: 900;
    } 
    &__num-text {
        font-size: 16px;
        font-weight: bold;
        color: #fff;
    }
    &__number {
        width: 50px !important;
        margin: 0 auto !important;
        margin-bottom: 20px !important;
        padding: 8px !important;
        background-color: transparent !important;
        color:#ffbc2b !important;
        border: 1px solid #fff !important;
        font-weight: bold;
        font-size: 22px !important;
        text-align: center;
        &--ntz {
            color:#ffffff !important;
        }
    }
    &__buy-btn {
        width: 100%;
        border: none;
        background-color: #FF5722;
        font-size: 18px;
        color: #ffffff;
        line-height: 1;
        text-transform: uppercase;
        cursor: pointer;
        padding-top: 25px;
        padding-bottom: 25px;
        border-radius: 0;
        &:focus {
            outline: none;
        }
        &:active {
            outline: none;
        }
        &--ntz {
            background-color: #f04124;
        }
    }
    &__ref-block {
        padding: 30px;
        border-radius: 7px;
        margin-bottom: 50px;
        background-color: #ffffff;
        box-shadow: 3px 0px 22px #666666;
    }
    &__ref-title {
        font-family: 'Roboto-Bold', arial, sans-serif;
        font-size: 26px;
        font-weight: bold;
        line-height: 24px;
        color: #2d3135 !important;
    }
    &__ref-text {
        font-family: 'Roboto-Bold', arial, sans-serif;
        font-size: 20px;
        line-height: 24px;
        color: #2d3135 !important;
    }
    &__referral-link {
        width: 100%;
        display: block;
        margin-top: 15px;
        margin-bottom: 25px;
        color: #ef4e43;
        background: transparent !important;
        border: none;
        font-size: 20px;
        font-weight: 800;
        text-decoration: underline;
    }
}

@media screen and (max-width: 1080px) {
    .tickets {
        &__content {
            min-height: auto;
        }
        &__wrap {
            max-width: 990px;
        }
        &__item {
            width: 300px;
            padding: 60px 20px 40px;
        }
    }
}
@media screen and (max-width: 768px) {
    .tickets {
        &__wrap {
            width: 700px;       
        }
        &__item {
            width: 330px;
        }
    }
}
@media screen and (max-width: 600px) {
    .tickets {
        &__wrap {
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;       
        }
        &__title {
            font-size: 26px;
            line-height: 1.2;
        }
        &__data-list {
            padding-left: 0;
        }
        &__list {
            flex-direction: column;
            align-items: center;
            flex-wrap: nowrap;
        }
        &__item {
            max-width: 280px;
            margin-right: 0;
            margin-bottom: 40px;
        }
        &__name {
            font-size: 66px;
        }
        &__buy-btn {
            font-size: 22px;
        }
    }
}