.training-menu {
	&__wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        padding: 12px;
        cursor: pointer;
        background-color: #fff;
        border-radius: 7px;
        box-shadow: 0 8px 19px #cccccc;
	}
	&__link {
		font-size: 16px;
		text-transform: uppercase;
		color: #243447;
		&:hover {
			color: #2d3135 !important;
		}
    }
    &__icon {
        width: 55px;
        height: 55px;
        margin-left: 7px;
        margin-right: 7px;
        padding: 5px;
        background-color: #ffbc2b;
        border: 2px solid #ef4e43;
        border-radius: 50%;
    }
}
@keyframes rotate {
    100% {-webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);}
}
.training {
    &__wrap {
        min-height: 100vh;    
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #d5d5d5;
        background-image: url(/asset-symbols/ntz-img/training.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0px 0px;
        background-attachment: fixed;
        box-sizing: border-box;
    }
    &__content {
        width: 640px;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.85);
        padding: 50px 70px;
        padding-top: 50px;
    }   
    &__header {
        position: relative;
        padding-top: 25px;
        padding-bottom: 15px;
        text-align: center;
        margin-bottom: 40px;
        z-index: 105;
    }
    &__title {
        position: relative;
        font-family: 'Roboto-Bold', arial, sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.3;
        text-transform: none;
        color: #2d3135 !important;
        z-index: 102;
    }
    &__logo {
        position: absolute;
        top: 2px;
        left: 50%;
        margin-left: -77px;
        width: 144px;
        height: 144px;
        background-image: url(/asset-symbols/app-logo/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        text-align: center;
        background-position: 0 0;
        animation: rotate 6s  linear infinite;
        -webkit-animation: rotate 16s linear infinite;
        z-index: 100;
        opacity: 0.4;
    }
    &__text-wrap {
        margin-bottom: 30px;
    }
    &__text-block {
        margin-bottom: 30px;
        padding: 20px;
        background-color: #fff;
    }
    &__data-block {
        margin-bottom: 13px;
    }
    &__description {
        font-size: 20px;
        line-height: 1.6;
        margin-bottom: 40px;
        &--hightlighten {
            font-weight: 700;

        }
    }
    &__data {
        font-size: 20px;
        line-height: 1.6;
        &--info {
            padding-right: 7px;
            font-weight: 700;
        }
    }
    
    &__info {
        position: relative;
        display: inline-block;
        margin-top: 27px;
        font-size: 18px;
        font-weight: 700;
        &:after {
            content: '*';
            position: absolute;
            right: -11px;
            top: -6px;
            font-size: 21px;
            color: #c72027;
        }
    }
    &__buy-wrap {
        width: 400px;
        padding: 40px;
        border: 1px solid #ef4e43;
        border-radius: 7px;
    }
    &__data-title {
        display: inline-block;
        margin-bottom: 10px;
        font-size: 16px;
    }
    &__pay-btn {
        display: block;
        width: 300px;
        margin: 0 auto;
        margin-top: 40px;
        margin-right: auto !important;
        padding: 17px 18px;
        background-color: #ef4e43;
        color: #fff !important;
        font-family: 'Roboto-Light', arial, sans-serif;
        font-weight: 700;
        font-size: 16px;
        text-transform: none;
        border-radius: 35px;
        background-color: #ef4e43;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 1080px) {
    .training {
        &__content {
            width: 90%;
            padding: 50px 30px;
        }
    }
}

@media screen and (max-width: 800px) {
    .training {
        &__title {
            font-size: 26px;
        }
        &__buy-wrap {
            width: 100%;
            padding: 20px;
        }
        &__pay-btn {
            width: 100%;
        }
    }
}
@media screen and (max-width: 600px) {
    .training {
        &__content {
            width: 93%;
            padding: 30px 15px;
        }
        &__header {
            margin-bottom: 20px;
        }
        &__logo {
            margin-left: -60px;
            width: 120px;
            height: 120px;
        }
        &__title {
            font-size: 26px;
        }
        &__text-block {
            margin-bottom: 30px;
            padding: 15px;
        }
        &__description {
            font-size: 18px;
            line-height: 1.4;
        }
        &__data-block {
            margin-bottom: 8px;
        }
        &__data {
            font-size: 16px;
        }
        &__info {
            margin-top: 6px;
            font-size: 14px;
        }
        &__buy-wrap {
            width: 100%;
            padding: 25px 15px;
        }
        &__pay-btn {
            width: 100%;
        }
    }
}