.user-account {
	&__container {
		display: flex;
		justify-content: flex-start;
		align-items: stretch;
		height: 100vh;
		overflow: hidden;
	}
	&__left-panel {
		width: 20%;
		min-width: 350px;
		overflow-y: scroll;
		box-shadow: 0 5px 20px #9c968c;
		background-color: #f5f7f9;
	}
	&__wrap {
		height: 100%;
	}
	&__right-panel {
		width: 80%;
		padding: 30px;
		overflow-y: scroll;
		box-sizing: border-box;
	}
	&__inner {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}	
	&__info {
		padding-top: 20px;
		padding-left: 32px;
		padding-right: 10px;
		padding-bottom: 30px;
		background-color: #ffbc2b;
	}
	&__img {
		width: 37px;
		height: auto;
		padding: 4px;
		background-color: #fff;
		border-radius: 50%;
	}
	&__personal {
		position: relative;
		height: 100%;
		padding-top: 50px;
		padding-left: 32px;
		padding-right: 32px;
		margin-bottom: 15px;
		background-color: #f5f7f9;
	}
	&__tranfer-link {
		position: relative;
		display: block;
		padding: 15px 20px;
		background-color: #ef4e43;
		color: #fff !important;
		font-family: 'Roboto-Light', arial, sans-serif;
		font-size: 14px;
		text-transform: none;
		border-radius: 35px;
		background-color: #ef4e43;
		box-shadow: 0 5px 20px #9c968c;
		&:hover {
			background-color: darken(#ef4e43, 3%);
		}
	}
	&__op-btn {
		position: absolute;
		top: -24px;
		left: 50%;
		width: 230px;
		margin-left: -115px !important;
		border: none;
		background-color: transparent;
	}
	&__orders {
		position: absolute;
		top: 13px;
		display: inline-block;
		margin-left: 10px;
		width: 18px;
		height: 18px;
		border-radius: 50%;
		background-color: rgba(255, 255, 255, 0.6);
		color: #ef4e43;
		line-height: 18px;
		text-align: center;
		font-size: 12px;
		font-weight: bold;
	}
	&__title {
		display: block;
		margin-left: 10px;
		font-size: 22px;
		color: #fff;
		word-break: break-word;
	}
	&__text {
		color: #243447 !important;
	}
	&__company-block {
		border-bottom: 1px solid #eaeaea;
		margin-bottom: 30px;
    	padding-bottom: 20px;
	}
	&__item {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 30px;
		cursor: pointer;
		&--docs {
			padding-top: 20px;
    		border-top: 1px solid #eaeaea;
		}
		&--company {
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__link {
		padding-left: 18px;
		color: rgba(10,30,50,.6) !important;
		&:hover {
			color: #ef4e43 !important;
		};
	}
	&__header {
		font-size: 28px;
		color: #2d3135 !important;
	}
}

#userAccountInfo {
	.user-balance__wrap {
		display: flex;
		flex-direction: column-reverse;
		padding-left: 32px;
		margin-bottom: 17px;
	}
	.user-balanse_amount {
		font-weight: bold;
		margin-bottom: 4px;
	}
	.font-secondary {
		display: block;
		margin-top: 2px;
		color: #eee;
	}
}

.user-overview {
	&__inner {
		width: 100%;
	}
}

.user-transactions {
	&__list {
		margin: 0;
		margin-bottom: 45px;
		list-style: none;
	}
	&__text {
		font-weight: bold;
	}
}

.user-back {
	padding: 15px 30px;
	background-color: #fff;
	&__text-wrap {
		padding-left: 18px;
	}
	&__link {
		color: rgba(10, 30, 50, 0.6) !important;
		border-bottom: 1px solid #ef4e43;
	}
}

.user-market {
	&__wrap {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;
		padding: 25px 10px;
		cursor: pointer;
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 0 8px 19px #cccccc;
		border-bottom: 2px solid #ef4e43;
	}
	&__link {
		padding-left: 17px;
		font-size: 22px;
		text-transform: uppercase;
		color: #243447;
		&:hover {
			color: #2d3135 !important;
		}
	}
}
.user-event {
	&__link {
		padding-left: 12px;
		font-size: 18px;
		color: #ef4e43;
		&:hover {
			color: #c50f02 !important;
		}
	}
}
@media screen and (max-width: 600px) {
	.user-account {
		&__left-panel {
			width: 100%;
			min-width: 100%;
			overflow-y: auto;
			box-sizing: border-box;
		}
		&__info {
			padding: 32px 25px;
		}
		&__right-panel {
			width: 100%;
			padding: 12px;
			overflow-y: auto;
			box-sizing: border-box;
		}
	}
	.user-transactions {
		&__list {
			font-size: 13px;
		}
		&__text {
			word-break: break-word;
		}
	}
}