.user-team {
	&__header {
		margin-bottom: 11px;
		font-size: 32px;
		font-weight: bold;
	}
	&__subheader {
		margin-bottom: 22px;
		font-size: 18px;
		width: 450px;
	}
	&__info {
		display: flex;
		justify-content: flex-start;
		width: max-content;
		margin-bottom: 20px;
		max-width: 1000px;
		flex-wrap: wrap;
	}
	&__info-item {
		width: 270px;
		margin-right: 10px;
		margin-bottom: 10px;
		padding: 18px 15px;
		border-radius: 13px;
		border: 1px solid #ccc;
		background-color: #f5f7f9;
		&:last-child {
			margin-right: 0;
		};
		&--general {
			padding-top: 23px;
		}
		&--indicator {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: column;
			align-items: center;
		} 
	}
	&__indicator-data {
		margin-top: 10px;
		font-weight: bold;
		text-align: center;
		line-height: 1.3;
	}
	&__level-wrap {
		margin-bottom: 20px;
	}
	&__level {
		font-size: 22px;
		&--hightlighted {
			display: inline-block;
			margin-left: 7px;
			font-size: 22px;
			font-weight: bold;
			border-bottom: 1px solid #ef4e43;
		}
	}
	&__ref-wrap {
		margin-bottom: 22px;
	}
	&__my-ref {
		font-size: 22px;
		color: #243447;
		&--link {
			padding-left: 7px;
			color: #ef4e43;
			&:hover {
				color: darken(#ef4e43, 3%);
			}
		}
		&--hightlighted {
			padding-left: 7px;
			font-weight: bold;
			cursor: pointer;
			text-decoration: none;
		}
	}
	&__list {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		align-items: stretch;
		margin: 0;
		padding-top: 20px;
		list-style: none;
	}
	&__item {
		width: 290px;
		margin-bottom: 20px;
		margin-right: 40px;
		border-radius: 5px;
		box-shadow: 0 3px 8px 0px #eaeaea;
		border: 1px solid #bfbfbf;
		overflow: hidden;
		&--hide {
			display: none;
		}
	}
	&__inner {
		display: flex;
		align-items: flex-start;
		margin-bottom: 7px;
		&--current {
			margin-bottom: 12px;
		}
		&--link {
			font-size: 14px;
		}
	}
	&__block {
		padding: 20px;
		padding-top: 7px;
		padding-bottom: 12px;
		background-color: #fff;
		&--header {
			padding: 20px;
			padding-bottom: 10px;
			padding-top: 20px;
			background-color: #fff2d5;
			
		};
	}
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__name {
		width: 180px;
		font-size: 18px;
		font-weight: bold;
		color: #2d3135;
		text-transform: uppercase;
		word-break: break-word;
		margin-bottom: 10px;
    	line-height: 1;
    	cursor: pointer;
		text-decoration: none;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		overflow: hidden;
		&:hover {
			color: #0671a7;
		};
	}
	&__message {
		width: 42px;
		height: auto;
		padding: 3px 8px;
		background-color: #ffbc2b;
		border-radius: 5px;
		cursor: pointer;
	}
	&__img {
		margin-right: 5px
	}
	&__info-title {
		display: block;
		width: 90%;
		margin-bottom: 15px;
		font-size: 16px;
		font-family: 'Roboto-Bold', arial, sans-serif;
		font-weight: bold;
	    color: #2d3135;
		text-align: center;		
	}
	&__data {
	    font-size: 14px;
	    font-family: 'Roboto-Light', arial, sans-serif;
	    color: #636363;
		text-transform: uppercase;
	    &--status {
	    	font-weight: bold;
	    }
	    &--url {
	    	font-size: 16px;
	    	color: #0671a7;
	    	text-transform: none;
	    }
	    &--value {
	    	padding-left: 7px;
	    	font-weight: bold;
	    }
	}
	&__toggler {
		display: flex;
		align-items: center;
		position: relative;
		margin-left: 30px !important;
		&:before {
			content: '';
			position: absolute;
			left: -30px;
			top: 0;
			width: 20px;
			height: 20px;
			border: 1px solid #ef4e43;
			border-radius: 3px;
		}
	}
	&__checkbox {
		display: none;
	}
	&__text {
		font-size: 16px;
	    font-family: 'Roboto-Light', arial, sans-serif;
	    color: #2d3135;
	    text-transform: none !important;
	}
	&__copy-btn-wrap {
		position: relative;
	}
	&__copy-btn {
		text-transform: uppercase;
		font-size: 12px;
		font-weight: bold;
		color: #0671a7;
		cursor: pointer;
		&:hover {
			color: #2d3135;
		}
	}
	&__search-wrap {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 16px;
	}
	&__search-btn {
		display: inline-block;
		padding: 13px 20px;
		margin-right: 8px;
	    font-size: 12px;
	    color: #ffffff !important;
	    text-transform: uppercase;
	    text-align: center;
	    background: #0671a7;
	    border-radius: 7px;
	    border: 2px solid #fff;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    cursor: pointer;
	}
	&__cancel-btn {
		display: inline-block;
		padding: 12px 20px;
	    font-size: 12px;
	    color: #ccc !important;
	    text-transform: uppercase;
	    text-align: center;
	    border-radius: 7px;
	    border: 2px solid #ffbc2b;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    cursor: pointer;
	}
}
#accountFilter {
	width: 290px;
	margin-bottom: 0 !important;
	margin-right: 8px;
}
[type="checkbox"]:checked + label::before {
	background-image: url(/asset-symbols/ntz-img/checkbox.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 2px -2px;
}

@media screen and (max-width: 1080px) {
	.user-team {
		&__info {
			width: 555px;
			flex-wrap: wrap;
		}
		&__info-item {
			margin-bottom: 12px;
			&--general {
				flex-basis: 100%;
				margin-right: 0;
			};
			&--indicator {
				margin-bottom: 0;
			};
		} 
	}
}
@media screen and (max-width: 600px) {
	.user-team {
		&__subheader {
			width: 100%;
		}
		&__item {
			width: 100%;
			margin-right: 0;
		}
		&__info {
			width: 100%;
			flex-direction: column;
		}
		&__info-item {
			width: 100%;
			margin-bottom: 12px;
			&:last-child {
				margin-bottom: 0;
			};
		}
		&__ref-wrap {
			margin-bottom: 8px;
		}
		&__my-ref {
			font-size: 16px;
		}
		&__level {
			font-size: 16px;
			&--hightlighted {
				margin-top: 4px;
			}
		}
		&__indicator {
			width: 100%;
			&:first-child {
				padding-bottom: 13px;
				margin-bottom: 25px;
				border-bottom: 1px solid #bfbfbf;
			}
		} 
		&__search-wrap {
			flex-wrap: wrap;
		}
		&__cancel-btn {
			width: 100%;
		}
	}
	#accountFilter {
		width: 100%;
		margin-bottom: 10px !important;
		margin-right: 0px;
	}
}