.user-login {
    &__wrap {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
    }
    &__menu-icon {
        cursor: pointer;
    }
    &__list {
        position: absolute;
        top: -20px;
        right: -10px;
        list-style: none;
        margin: 0;
        padding: 15px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 17px #868686;
        z-index: 300;
        &--hidden {
            display: none;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__link {
        padding-left: 15px;
        font-size: 14px;
        color: #2d3135;
        cursor: pointer;
        &:hover {
            color: #2d3135 !important;
        }
    }
}

@media screen and (max-width: 600px) {
    .user-login {
        &__list {
            right: -25px;
        }
    }
}