@import "../../../node_modules/slick-carousel/slick/slick.css";
// @import "../../../../node_modules/slick-carousel/slick/slick-theme.scss"; // webpack errors...

.week-offers {
    border: 2px solid #6a30c7;
    border-radius: 3px;
    padding: 22px 20px;
    width: 300px;
    position: relative;
    // float: left;
    height: 671px;
    margin-right: auto;

    a {
        color: #000;
    }

    .slick-slider {
        margin-bottom: 40px;
    }

    &__img {
        width: auto;
        height: auto;
        max-height: 257px;
        margin: 0 auto;
    }

    &__title {
        font-size: 16px;
        color: #090909;
        padding-bottom: 20px;
        border-bottom: 1px solid #e0e0e0;
        margin-bottom: 15px;
    }

    &__price-wrapper {
        display: flex;
        align-items: baseline;
        margin-bottom: 28px;
    }

    &__price {
        color: #6a30c7;
        font-size: 18px;
        margin-right: 14px;
    }

    &__old-price {
        font-size: 14px;
        text-decoration: line-through;
    }

    &__saving {
        margin-left: auto;
        background-color: #6a30c7;
        color: #fff;
        border-radius: 50%;
        width: 65px;
        height: 65px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__saving-text {
        font-size: 10px;
        margin-bottom: 2px;
        text-transform: uppercase;
    }

    &__saving-num {
        font-size: 16px;
    }

    &__timer {
        border-bottom: 1px solid #e0e0e0;
        margin-bottom: 24px;
        padding-bottom: 24px;
    }

    //.slick-initialized button
    &__arrows, .slick-arrow {
        position: absolute;
        bottom: -228px;
        cursor: pointer;
    }

    &__prev-arrow {
        left: 13px;
        display: flex;
        justify-content: space-between;
        width: 115px;
        border-right: 1px solid #e0e0e0;
        // border: 1px solid green;

        .week-offers__arrow-img {
            background-image: url(../app_img/next_arrow.png);
            background-repeat: no-repeat;
            width: 8px;
            height: 15px;
            background-size: contain;
            transform: rotate(180deg);
        }

        .week-offers__arrow-text {
            margin-right: 26px;
            font-size: 14px;
        }
    }

    &__next-arrow {
        right: 13px;
        display: flex;
        justify-content: space-between;
        width: 115px;
        border-left: 1px solid #e0e0e0;
        // border: 1px solid red;

        .week-offers__arrow-img {
            background-image: url(../app_img/next_arrow.png);
            background-repeat: no-repeat;
            width: 8px;
            height: 15px;
            background-size: contain;
        }

        .week-offers__arrow-text {
            margin-left: 26px;
            font-size: 14px;
        }
    }
}