.search {
    max-width: 712px; //800px;
    display: flex;
    align-items: center;
    min-height: 50px;
    margin-right: 46px;
    margin-bottom: 20px;

    &__submit-btn {
        width: 140px;
        height: 50px;
        background-color: rgb(255, 150, 0);
        color: #fff;
        text-transform: none;
        font-family: Tahoma, serif;
        font-size: 15px;
    }

    input[type="text"] {
        width: 660px; 
        height: 50px;
        border-style: solid;
        border-width: 2px;
        border-color: rgb(238, 238, 238);
        border-radius: 3px !important;
        border-bottom-color:  rgb(238, 238, 238) !important;
        font-family: Tahoma, serif;
        font-size: 15px;
        margin-bottom: 0;
    }


    @media screen and (max-width: 1024px) { 
        margin-bottom: 16px;
        margin-right: 0;

        input[type="text"] { 
            height: 38px;
            width: 96%;
        }

        &__submit-btn { 
            // position: relative;
            width: 80px;
            height: 38px;

            > span {
                display: none;
            }

            &:after {
                // position: absolute;           
                content: "";
                width: 32px;
                height: 32px;
                line-height: 32px;
                margin: 0 auto;
                background-image: url(../app_img/main_page/search3.png);
                background-size: 27px; 
                background-repeat: no-repeat;
                background-position: center;
                display: block;
                transform: rotate(-96deg);
            }
        }
    }

    // @media screen and (max-width: 400px) { 
    //     max-width: 300px;
    // }
}