.top-slider {
    &__slide {
        width: 100%;
        background-image: url(../app_img/main_page/top_slider/banner.png);  
        background-repeat: no-repeat;
        background-size: contain;
        // margin-bottom: 20px;
        padding-top: 34%;

        &:focus {
            outline: none;
        }

        &--2 {
            background-image: url(../app_img/main_page/top_slider/coctails.png); 
        }

        &--3 {
            background-image: url(../app_img/main_page/top_slider/lactomarin.png); 
        }

        &--4 {
            background-image: url(../app_img/main_page/top_slider/lamara-moisture.png); 
        }
    }

    .slick-slide {
        &:focus {
            outline: none !important;
        }
    }

    .slick-list {
        margin-bottom: 5px;
    }

    .slick-dots {
        list-style-type: none;
        color: green;
        display: flex !important;
        justify-content: center;
        // position: relative;
        // bottom: 10px;

        li button {
            font-size: 0;
            width: 8px;
            height: 12px;
            background: #d3d3d3;
            border-radius: 50%;
            margin-right: 16px;
            outline: none;
        }

        .slick-active button {
            background: #fe9f3c;
            width: 47px;
            border-radius: 10px;
        }
    }
}

