// Hacks that should get cleaned up and put in appropriate files within the stylesheet layout
// http://sass-guidelin.es/#shame-file
.RichEditor-root {
  background: #fff;
  font-family: inherit;
  border-radius: 5px !important;
  font-size: 14px;
}
.RichEditor-editor h1,
.RichEditor-editor h2,
.RichEditor-editor h3,
.RichEditor-editor h4,
.RichEditor-editor h5,
.RichEditor-editor h6 {
    color: #000;
}

.RichEditor-editor {
  border: 1px solid #077dbb;
  color: #000;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 5px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  padding-left: 10px;
  user-select: none;
    background-color: #eaeaea;
}

.RichEditor-styleButton {
  color: #2a2a2a;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
}
.DraftEditor-editorContainer {
    height: 350px;
    padding: 15px;
    overflow-y: auto;
    & ul {
        list-style: disc;
    }
}
.counter {
  color: #000;
}
.notranslate.public-DraftEditor-content {
    margin: 0;
    padding: 0;
}

#content.win32 {
  font-size: 90%;
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  h5 {
    font-size: 1.2rem;
  }
  h6 {
    font-size: 1.0rem;
  }
}

a {
  transition: all 0.3s ease 0s;
}

// border is needed when centering
// input[type="file"] did not work
input[type="file"] {
    border: 'solid';
}

hr {
  border: none;
  height: 1px;
  background-color: #333;
}

.error {
  color: #ff0000;
  //padding: 16px;
}

.reactTooltip {
  z-index: 10000;
}

.no-overflow {
  overflow: hidden;
}

//padding: "2rem 0 2rem 0"  Using top and bottom padding prevents
//unnecessary scroll bars but does not disable them for future use.
.no-overflow-padding {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.center-content {
  text-align: center;
  > * {
    margin-left: auto;
    margin-right: auto;
  }
}

.flex-start {
  align-items: flex-start;
}

.cursor-pointer {
  cursor: pointer;
}

a > .label {
  cursor: pointer;
}

.block-button {
  display: block;
}

button, .button {
  transition: all 0.3s ease 0s !important;
  border: 1px solid transparent;
  //margin: 2px 5px 2px 5px;
  vertical-align: middle;
  &.outline {
    &:hover, &:focus, &:active {
      background: none !important;
    }
    background: none;
    border: 1px solid #555;
  }
}

td > button:first-child, td > .button:first-child, div > button:first-child, div > .button:first-child {
  margin-left: 0;
}

td > button:last-child, td > .button:last-child, div > button:last-child, div > .button:last-child, section > .button:last-child {
  margin-right: 0;
}

.notification {
  border-radius: 0 !important;
  top: 50px !important;
  border-top: none !important;
  border-right: none !important;
  border-bottom: none !important;
  border-left-width: 4px !important;
  border-left-style: solid !important;
  padding: 1rem !important;
  font-size: 100% !important;
}


.content-block {
  margin-bottom: 2rem;
  > h3, .recent-transactions > h3 {
    font-size: 2rem;
    border-bottom: 1px solid #444;
    margin-top: 0;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .actions {
    padding: 1rem 0 1rem 0;
  }
}

.no-border {
  border: none !important;
}

.no-border-bottom {
    border-bottom: none !important;
}

.page-header {
  margin-bottom: 2rem;
  border-bottom: 1px solid #444;
  h3, h1 {
    margin: 0;
    padding: 1rem 0 1rem 0;
  }
  h3 {
    font-size: 2rem;
  }
  h1 + h3 {
    padding-top: 0;
  }
}

table > tbody > tr.control-row > td {
  padding-top: 1rem;
  border-bottom: none;
  vertical-align: middle;
  input {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 8px !important;
  }
  > label {
    margin: 0;
  }
  > input {
    margin-right: 2rem !important;
  }
}

.modal {
  max-width: 500px;
  border-radius: 0px;
}

div.modal {
  overflow: visible !important;
}

.overflow-visible {
  overflow: visible;
}

.full-width-content > * {
  width: 100%;
}

.op-table > tbody > tr > td {
  width: 50%;
  &:last-child {
    text-align: right;
  }
}

.button-group {
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 270px;
    margin: auto;
  }
  > .button {
    margin: 0 1rem 1rem 0;
  }
}

.empty-identicon {
  border: 1px solid #008CBA;
}

div.disabled * {
    opacity: 0.8 !important;
    cursor: default !important;
    pointer-events: none !important;
}

div.disabled input {
  background-color: #444;
}

.modal-header {
  > h3, >h6 {
    margin-bottom: 0;
  }
  margin-bottom: 1rem;
}

.memo {
  font-size: 1rem;
  font-weight: bold;
  word-break: break-word;
}

div.memo-tip {
  word-break: break-word;
  max-width: 40rem;
}

.invoice {
  .item-name {
    padding: 0.2rem 0 0.2rem 0;
  }
  .item-description {
    padding: 0.2rem 0 0.2rem 0;
    font-size: 90%;
  }
}

span.time {
  white-space: nowrap;
}

section > ul > li.key-value {
  padding: 0.5rem 1rem;
}

label.inline {
  display: inline;
}

.blocks-row {
  > div.grid-block {
    padding-bottom: 0 !important;
  }
}

.electron-only {
  display: none;
}

.electron-only {
  visibility: hidden;
}
#content.electron {
  visibility: visible;
}


.Popover-body {
  max-width: 50rem;
  display: inline-flex;
  flex-direction: column;
  padding: 1rem 2rem 1rem 2rem;
  background: hsl(0, 0%, 32%);
  color: white;
  border-radius: 0.05rem;

  .help-content h3 {
    color: white;
  }
}

.Popover-tipShape {
  fill: hsl(0, 0%, 32%)
}

.click-for-help {
  border-bottom: 1px dotted #777;
  cursor: pointer;
}

.asset-flag .label {
  margin-bottom: 0.4rem;
  margin-right: 0.5rem;
}

.markets-view-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 90;
}

.small-caps {
  font-variant: small-caps;
  font-size: 85%;
}

.tooltip:hover {
  cursor: help;
}

.tooltip-zindex {
    z-index: 1001;
}

.inline-block {
    display: inline-block;
}

.__react_component_tooltip {
  z-index: 2000 !important;
  border: 1px solid grey;
  max-width: 20rem;
}

.asset-prefix-replaced {
  // text-transform: uppercase;
  font-variant: small-caps;
  text-transform: none;
}

select {
    line-height: normal !important;
}

select.bts-select {
    border-radius: 5px;
    cursor:pointer;
    height: 2em;
    border: none;
    background: none;
    background-color: transparent;
    max-width: 500px;
    border-bottom: 1px solid #444;
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    appearance: menulist;
}

.windows select.bts-select {
    height: 2.35em;
}

@media screen and (min-width: 900px) {
    .column-show-small {
        display: none !important;
    }
}

@media screen and (max-width: 900px) {
    .column-hide-small {
        display: none !important;
    }
}

@media screen and (max-width: 1100px) {
    .column-hide-medium {
        display: none !important;
    }
}

input, textarea {
    border-radius: 5px !important;
}

input[type=number] {
    -moz-appearance:textfield;
}

.clickable {
    cursor: pointer;
}

@include breakpoint(xlarge) {
    form.hide-container {
        display: inherit !important;
    }
}

.unlock-tooltip {
    min-width: 150px;
}

section input[type="text"], section input[type="password"] {
  border:none;
  width: 100%;
  &:hover, &:active, &:focus {
    border:none;
  }
}

section progress {
    max-width: 30rem;
}

.notification {
    table > tr > td {
        padding-left: 0 !important;
        padding-right: 0 !important;

        span {
            line-height: 1.1rem;
        }
    }
}

.help-tooltip {
    cursor: help;
}

h4 {
    font-weight: 600;
}
.sub-content {
    >div {
        display: block;
    }
}
.tab-title {
    text-align: left;
}
.qr-code {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}
#menu_whatsapp {
    & a {
        background-color: #1ebea5 !important;
    }
}
.backup-submit {
    &__text {
        padding: 10px;
        background-color: #ffffff;
        color: #fe4647
    }
}
.acc-btn {
  margin-bottom: 15px;
  cursor: pointer;
  &--wrap {
    position: relative;
  }
  &__block {
    width: 100%;
  }
  &__inner {
    display: block;
    padding: 14px 20px;
    font-size: 12px;
    color: #ffffff !important;
    text-transform: uppercase;
    text-align: center;
    background: #ffbc2b;
    border-radius: 39px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &:hover {
       background: darken(#ffbc2b, 3%);
    };
  }
  &__qr {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 35px;
    &--hide {
      display: none;
    }
    & canvas {
      align-self: center;
    }
  }
}
.cart {
  position: relative;
  &:after {
    position: absolute;
    top: 9px;
    right: 3px;
    content: '1';
    width: 18px;
    height: 18px;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 1.2;
  }
}
.cart-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #1990bf;
    display: flex;
    justify-content: center;
    align-items: center;
    &:after {
      position: absolute;
      bottom: 15px;
      left: -8px;
      content: '1';
      width: 18px;
      height: 18px;
      background-color: red;
      color: #fff;
      border-radius: 50%;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      vertical-align: middle;
      line-height: 1.2;
      z-index: 101;
    }
    &__wrap {
      position: absolute;
      bottom: 76px;
      right: 36px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      z-index: 100;
    }
    & img {
      display: block;
      margin-bottom: 13px;
    }
    &__text {
        color: #1990bf;
        font-size: 11px;
    }
}

.api-node {
   border: 1px solid #0671a7; 
   position: relative; 
   padding: 0.5em 1em 0.5em 1em;
}
.user-account-key .account-image svg path {
  fill: #fe4647;
}
.user-private-key {
  color: #0671a7;
  font-weight: bold;
  &__wrap {
    padding-bottom: 10px;
  }
}
#blockChainWrap {
  margin: 20px auto;
}
.committeeMember {
  &__wrap {
    width: 50%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    box-sizing: border-box;
  }
  &__count {
    color: #2d3135;
  }
}
.fees-container {
  &__wrap {
    width: 80%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    box-sizing: border-box;
  }
}
.fees {
  &__subtitle {
    margin-bottom: 10px;
    padding-top: 10px;
    font-size: 16px;
    color: #0671a7;
    font-weight: bold;
  } 
}
.dashboard-table-header {
  border: 1px solid #424242;
}
#apiNode {
  margin-bottom: 15px;
  .api-node {
    &__title{
      margin-top: 0;
      margin-bottom: 0;
      color: #0671a7;
    }
  }
}
.api-add {
  &__wrap {
    background-color: #fff !important;
  }
  &__text {
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  &__field {
    background-color: #e4e4e4 !important;
    &:hover, &:focus, &:active {
        background-color: #e4e4e4 !important;
      }
  }
}

.switch {
  &__wrap {
      display: flex;
      align-items: center;
  } 
}
.permission-btn {
  &--cancel {
    color: #fe454f !important;
    border: 1px solid #fe454f !important;
  }
  &__wrap {
    padding-top: 20px;
  }
}
.permissions {
  &__wrap {
      overflow: scroll;
    }
  &__button-group {
    display: block;
    padding-left: 24px;
  }
}
.transaction-locked .icon > svg > path {
  fill: #1f77b4;
}
.voting-table {
  th {
    border: 1px solid #ccc !important;
  }
  td {
    font-size: 14px;
    border: 1px solid #ccc !important;
  }
}
.worker-table-cell {
  border: 1px solid #ccc !important;
}
.header-acc-switch {
  display: flex;
  align-items: center;
  cursor: pointer; 
  padding: 1rem; 
  border: none;
  font-weight: normal !important;
}
.wallet-unlock-btn {
  width: 180px;
  &__wrap {
    display: flex;
    justify-content: center;
  }
}
#serviceSelector {
  ul {
    overflow-x: scroll;
  }
}
.dashboard-filter {
  padding: 10px 0px;
}
.transaction {
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
.recent-transactions {
  overflow-x: scroll
}
@media screen and (max-width: 1280px) {
  
  .committeeMember {
    &__wrap {
      width: 70%;
    }
  }
  .fees-container {
    &__wrap {
      width: 90%;
    }
  }
  .modal {
    max-width: 500px !important;
  }
}
@media screen and (max-width: 800px) {
  #blockChainWrap {
    width: 95%;
  }
}
@media screen and (max-width: 600px) {
  .cart-icon {
    &__wrap {
      bottom: 35px;
      right: 10px;
    }
  }
  .grid-block.shrink.left-column {
    width: 100%;
  }
  .header-menu {
    line-height: 1;
    font-size: 10px;
  }
  .committeeMember {
    &__wrap {
      width: 100%;
    }
  }
  .fees-container {
    &__wrap {
      width: 100%;
    }
  }
  .permission-btn {
    width: 100%;
    &--confirm {
      margin-bottom: 20px;
    }
    &__wrap {
      flex-direction: column;
    }
  }
  .permissions {
    &__title {
      margin-top: 100px;
    }
    &__button-group {
      padding-left: 0;
    }
    &__close {
      width: 100%; 
      margin-left: 0;
    }
  }
  .wallet-unlock-btn {
    width: 100%;
  }
  .modal {
    max-width: 100%;
    height: auto !important;
  }
  #transaction_confirm_modal {
    width: 300px;
    & .modal-header h3 {
      font-size: 18px;
    }
    & .grid-content.shrink {
      padding: 0; 
    }
    & .transaction__wrap {
      flex-direction: column-reverse;
      & .settings__btn-ok {
        margin-bottom: 16px;
      } 
    }
  }
}
