@import "theme-template";

// variables

$light-text-color: #fff;
$dark-text-color: #444;
$primary-text-color: #2d3135;
$secondary-text-color: darken($primary-text-color, 20%);
$link-text-color: #fe4647;
$error-text-color: #E3745B;

$bg-color: #ffffff;
$panel-bg-color: #3f3f3f;
$light-panel-bg-color: #6a6a6a;
$super-light-panel-bg-color: lighten($light-panel-bg-color, 8%);
$button-bg-color: #ef4e43;
$secondary-button-bg-color: #999999;
$input-background: #dcdcdc;

$alert-color: #fe4647;
$info-color: #2d3135;
$success-color: rgb(29, 102, 35);
$warning-color: rgb(151, 75, 4);
$fee-color: $secondary-text-color;

// Exchange colors
$bid-color: #6BA583;
$ask-color: #E3745B;
$call-color: #BBBF2B;
$positive-color: #258A14;
$negative-color: #DB0000;
$row-accent-color: #3C3C3C;
$header-color: #484848;

// Chat colors
$chat-text-color: #191A1F;

// Account table view colors
$account-header: #656565;
$account-cells: #4b5158;
$account-green: #7ED321;
$account-primarytext: white;
$account-dimmed: #afafaf;
$account-border: #323131;
$account-background: #3f3f3f;

.darkTheme {
  @include theme(
    $primary-text-color,
    $bg-color,
    $dark-text-color,
    $link-text-color,
    $light-text-color,
    $secondary-text-color,
    $success-color,
    $info-color,
    $warning-color,
    $alert-color,
    $super-light-panel-bg-color,
    $panel-bg-color,
    $button-bg-color,
    $secondary-button-bg-color,
    $fee-color,
    $bid-color,
    $ask-color,
    $call-color,
    $light-panel-bg-color,
    $positive-color,
    $negative-color,
    $row-accent-color,
    $header-color,
    $chat-text-color,
    $input-background,
    $account-header,
    $account-cells,
    $account-green,
    $account-primarytext,
    $account-dimmed,
    $account-border,
    $account-background
  );
}
