@import "../utils/utils";

@mixin theme(
  $primary-text-color,
  $bg-color,
  $dark-text-color,
  $link-text-color,
  $light-text-color,
  $secondary-text-color,
  $success-color,
  $info-color,
  $warning-color,
  $alert-color,
  $super-light-panel-bg-color,
  $panel-bg-color,
  $button-bg-color,
  $secondary-button-bg-color,
  $fee-color,
  $bid-color,
  $ask-color,
  $call-color,
  $light-panel-bg-color,
  $positive-color,
  $negative-color,
  $row-accent-color,
  $header-color,
  $chat-text-color,
  $input-background,
  $account-header,
  $account-cells,
  $account-green,
  $account-primarytext,
  $account-dimmed,
  $account-border,
  $account-background
  ) {

  .font-secondary {
      color: #ffbc2b;
  }

 #content-wrapper {
    @include color($primary-text-color, $bg-color);
  }

  hr {
    border-color: $dark-text-color;
    background-color: $dark-text-color !important;
  }

  a {
    &:hover, &:focus, &:active {
      color: darken(#ef4e43, 30%);
    }
  }

  label, label > span {
    color: $primary-text-color;
  }

  // select:hover {
  //   background-color: $panel-bg-color;
  // }

  .label.success {
    color: $success-color;
  }

  .label.info {
    color: $info-color;
  }

  .label.warning {
    color: $warning-color;
  }

  .label.cancel, .label.alert {
    color: $alert-color;
  }

  .txtlabel.success {
    color: $success-color;
  }

  .txtlabel.info {
    color: #0c1c75;
  }

  .txtlabel.warning {
    color: $warning-color;
  }

  .txtlabel.cancel, .label.alert {
    color: $alert-color;
  }

  // notification

  .notification {
    @include color(#2d3135, #eee, true);
    box-shadow: 0 8px 19px #cccccc;
  }

  .notification-dismiss {
    @include color(#2d3135, #eee, true);
    box-shadow: 0 8px 19px #cccccc;
  }

  .notification-success {
    border-left-color: #ef4e43 !important;
  }

  .action-sheet {
    @include color($light-text-color, $super-light-panel-bg-color);
    &::after {
      border-bottom-color: $super-light-panel-bg-color;
    }
    > ul > li > a {
      color: $light-text-color;
      border-top-color: $panel-bg-color;
      &:hover {
        @include color($light-text-color, lighten($super-light-panel-bg-color, 4%));
        // color: $link-text-color;
      }
    }
  }

  .__react_component_tooltip.type-light {
    @include color($light-text-color, $super-light-panel-bg-color, true);
    &.place-bottom:after {
      border-bottom-color: $super-light-panel-bg-color !important;
    }
    &.place-top:after {
      border-top-color: $super-light-panel-bg-color !important;
    }
    &.place-right:after {
      border-right-color: $super-light-panel-bg-color !important;
    }
    &.place-left:after {
      border-left-color: $super-light-panel-bg-color !important;
    }
  }

  .json-inspector__key {
    color: $secondary-text-color !important;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $primary-text-color;
  }

  .modal {
    width: auto;
    padding: 20px;
    border-radius: 5px;
    .close-button {
      top: 7px;
      right: 4px;
      color: #4b5158;
      &:hover {
        color: #0671a7;
      }
    }
    .modal-header {
      & h3 {
        color: #4b5158;
      }
      > h6 {
        color: $secondary-text-color;
      }
      &.has-error > h6 {
        color: $error-text-color
      }
    }
    .circle-wrapper {
      .circle:before {
        background-color: $primary-text-color;
      }
    }
    .table {
      > thead > tr > th, > tbody > tr > td {
        border-bottom-color: darken($secondary-text-color, 10%);
      }
    }
  }

  .footer {
    background-color: #3f3f3f;
    color: #ffffff;
    svg > path {
      fill: #20ff00;
    }
    .logo .version {
      color: #ffbc2b;
    }
  }

  .panel-left {
    @include color($light-text-color, $panel-bg-color);
    .block-list li > a {
      color: $light-text-color;
      &:hover {
        background-color: $panel-bg-color;
        color: #ffbc2b
      }
    }
  }

  .tabs {
  @include color($secondary-text-color, $bg-color);
  }


  .page-layout {
    .left-column {
      border-top-color: $bg-color;
      border-bottom-color: $bg-color;
    }

    .left-column-2 {
      border-top-color: $bg-color;
      border-bottom-color: $bg-color;
      background-color: darken($bg-color, 4%);
    }

    .main-content {
      background-color: $bg-color;
    }

    .right-column {
      border-top-color: $bg-color;
      border-bottom-color: $bg-color;
      background-color: darken($bg-color, 4%);
    }

  }

  .transfer-top {
    background-color: $light-panel-bg-color;
    label, label > span {
      color: $light-text-color;
    }
  }

  // BUTTONS
  .button {
    display: flex;
    justify-content: center;
    background: #ef4e43;
    min-width: 160px;
    width: fit-content;
    padding: 10px 23px;
    background: #ef4e43;
    color: #ffffff;
    border-radius: 35px;
    text-align: center;
    text-transform: none;
    &:hover, &:focus, &:active {
      background-color: lighten(#ef4e43, 3%);
    }
    &.outline {
      color: #2d3135;
      border-color: #ef4e43;
      &:hover {
        color: #2d3135;
        border-color: #ef4e43;
      }
    }
    &:disabled {
      opacity: 0.6;
    }
    &--cancel {
      color: #3f3f3f;
      &:hover {
        background-color: #ccc;
      };
    }
    &--permission {
      margin-bottom: 15px;
    }
    &--voting {
      color: #ef4e43;
      background-color: #ffffff;
      border: 2px solid #ef4e43;
      border-radius: 0px;
    }
    &--payment{
      width: 100%;
    }
    &--block {
      min-width: auto;
    }
  }
  .remove-btn {
    padding: 10px;
    font-size: 14px;
    color: #fe454f;
    border: 1px solid #fe454f;
    background-color: #ffffff;
    &:hover {
      color: #ffffff;
      background-color: #fe454f;
    }
  }

  .button.secondary {
    @include color($dark-text-color, $secondary-button-bg-color);
    &:hover, &:focus, &:active {
      @include color(lighten($dark-text-color, 4%), lighten($secondary-button-bg-color, 4%), true);
    }
  }

  .header .button,  .header .button:active {
    background-color: $panel-bg-color !important;
  }

  .header a.button.create-account {
    transition: color 0s !important;
    color: $button-bg-color !important;
    > span > svg > path {
        fill: $button-bg-color;
    }
    &:hover {
        color: lighten($button-bg-color, 10%) !important;
        > span > svg > path {
            fill: lighten($button-bg-color, 10%);
        }
    }
  }

  .grp-menu-item button {
    &:hover, &:focus, &:active {
      background-color: #2d3135 !important;
    }
  }

  .grp-menu-item {
    > a, .button {
      color: #fff;
    }
  }

  .header .logo {
    color: $secondary-text-color;
  }

  .header-right-menu {
    a:hover {background-color: lighten($panel-bg-color, 4%);}
    a.active {background-color: lighten($panel-bg-color, 4%);}
    li.current-account > a {
        color: $info-color;
        &:hover {
            color: $info-color;
        }
        > span { font-weight: bold; }
    }
    svg > path { fill: #1990bf; }
    svg:hover > path { fill: #0baed6; }
  }

  .settings-cog {
      svg > path { fill: $secondary-text-color; }
  }

  // cards


  .card-section {
    color: black;
    padding-left: 0.5rem;
    > ul {
      color: $light-text-color;
      list-style: none;
      font-size: 85%;
      margin-left: 0;
    }
  }


  .card {
    @include color($primary-text-color, $panel-bg-color);
    background-color: #494949;
    &:hover {
      background-color: lighten($panel-bg-color, 4%);
      > h4 {
        background-color: lighten($light-panel-bg-color, 4%);
      }
    }
    a {
      color: $primary-text-color;
    }
    .card-divider {
      @include color($primary-text-color, #e6c80f);
    }
    > h4 {
      background-color: $light-panel-bg-color;
    }
  }

  // tables
  .table {
    > thead > tr > th {
      border-bottom-color: $dark-text-color;
      color: $secondary-text-color;
    }
    > tbody > tr > td {
      border-bottom-color: $dark-text-color;
    }
    &.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
      background-color: lighten($bg-color, 4%);
    }
  }
  @media screen and (max-width: 600px) {
    .table {
      > tbody > tr > td {
        font-size: 14px;
      }
    }
  }

  // block-list
  .block-list {
    color: $primary-text-color;
    ul {
      margin-bottom: 13px;
    }
    // li {
    //   border-bottom: 1px solid #e6c80f;
    // }
    li > a {
      color: $secondary-text-color;
    }
    // li > a:hover, li > label:hover, li select:hover, li.active > a {
    //   background-color: #fff;
    // }
    // li:first-child {
    //   border-top: 1px solid $border-color;
    // }

  }
  .block-list {
    header {
      margin-left: 0;
      margin-bottom: 8px;
      font-size: 14px;
      font-weight: bold;
      text-transform: initial;
      line-height: 1.3;
    }
    .with-dropdown {
      color: #3f3f3f;
      background-color: #eee;
      // border-bottom: 1px solid $border-color;
    }
  }

  div.input-wrapper {
      > div.input-right-symbol {
          color: $secondary-text-color;
      }
  }

  .dropdown-wrapper {
      > div:first-of-type {
          color: $secondary-text-color;
      }

      ul.dropdown {
          @include color($light-text-color, $super-light-panel-bg-color);
          &::after {
            border-bottom-color: $super-light-panel-bg-color;
          }
          > li > span {
            color: $light-text-color;
          }
          /* Hover state */

          li:hover span {
              @include color($light-text-color, lighten($super-light-panel-bg-color, 4%));
              color: $link-text-color;
          }
      }

      &.active:after {
          border-color: $link-text-color transparent;
      }

      &:after { /* Little arrow */
          border-color: $secondary-text-color transparent;
      }
  }

  .account-image {
      .icon:hover {
          svg path {
              fill: darken(#ef4e43, 3%);
          }
      }
  }
  .account-selector, .pubkey-input {
    .account-image {
        > canvas {
            color: black;
        }
        .icon > svg path {
            fill: #ef4e43;
        }
        .icon:hover {
            svg path {
                fill: darken(#ef4e43, 3%);
            }
        }
      }
  }
  .has-error, div.has-error > label, div.has-error > label > span {
    color: $error-text-color;
    text-transform: none;
  }

  .has-warning, div.has-warning > label, div.has-warning > label > span {
    color: $warning-color;
  }

  div.has-error > input, div.has-error > input:hover, div.has-error > input:focus {
    border-color: $error-text-color;
  }

  .has-error input, .has-error select, .has-error textarea {
    border-color: $error-text-color;
  }

  input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="search"], textarea {
    background-color: #fff;
    color: #2d3135;
    border-bottom: 2px solid #ef4e43;
    &:focus, &:active {
      padding: 7px;
      background-color: lighten($input-background, 3%);
    }
  }

  ul.button-group.segmented {
      > li.is-active > a {
          background: $input-background;
          color: $primary-text-color;
          border-bottom: 1px solid $button-bg-color;
      }
  }
  .button-group
  // Tabs

  .tabs {
    border-bottom-color: $dark-text-color;
    > .tab-item {
      color: $secondary-text-color;
      &.is-active {
        color: $primary-text-color;
        border-bottom-color: $button-bg-color;
      }
      &:hover, &:focus, &:active {
        color: $primary-text-color;
      }
    }
  }



  // Exchange

  .depthchart {
    background-color: $bg-color;
    &:hover {
    background-color: $bg-color;
    }
    &.area {
      color: #FFF;
    }
  }

  .bid-total {
    color: $bid-color !important;
  }

  .ask-total {
    color: $ask-color !important;
  }

  .stats .stat .negative {
    color: $negative-color !important;
  }

  .stats .stat .positive {
    color: $positive-color !important;
  }

  .active-bucket {
    background-color: lighten($light-panel-bg-color, 12%) ;
  }

  .bucket-option:hover {
    background-color: $panel-bg-color;
  }

  .buy-sell-box {
      background-color: lighten($light-panel-bg-color, 12%);

      > select {
        background-color: lighten($light-panel-bg-color, 12%);
        background: lighten($light-panel-bg-color, 12%) url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20width%3D%2232%22%20height%3D%2224%22%20viewBox%3D%220%200%2032%2024%22%3E%3Cpolygon%20points%3D%220%2C0%2032%2C0%2016%2C24%22%20style%3D%22fill%3A%20black%22%3E%3C/polygon%3E%3C/svg%3E") right 10px center no-repeat;
      }
  }

  .buy-sell-input > input.no-balance {
      color: $alert-color;
   }

  // Account page
  .account-left-panel {
    h5 {
      color: $primary-text-color;
    }
    h6 {
        font-weight: bold;
    }
    .bottom {
      border-top-color: $bg-color;
    }

    .advanced-toggle > a {
        color: $primary-text-color;
    }

    a.pay-button {
        background-color: $bg-color;
        color: $primary-text-color;

        &:hover {
            background-color: $light-panel-bg-color !important;
        }
    }

    div.create-account-button {
        background: transparent;
        border: 2px solid $button-bg-color;
        &--balance {
            background-color: #d6474a;
            border: 2px solid #fff;
        }

        > a {
            font-weight: bold;
            color: $primary-text-color;
        }
    }


  }

  .account-info {
      color: $primary-text-color;
      > div.secondary {
          > span:first-of-type {
              color: $primary-text-color;
          }

          > span:last-of-type {
              color: $secondary-text-color;
          }
      }
  }

  .my-account h5, .my-account h4 {
    font-weight: bold;
    color: $info-color;
  }
  td.my-account {
    font-weight: bold;
    color: #ef4e43;
  }

  .account-left-menu {
    > li > a:hover, > li > label:hover, > li select:hover {
      background-color: $panel-bg-color;
    }
    > li > a.active {
      color: #ffbc2b;
      background-color: $panel-bg-color;
      border-right-color: $button-bg-color;
    }
  }


  .pagination {
      background-color: $panel-bg-color;
  }

  .invoice {
    .item-description {
      color: $secondary-text-color;
    }
  }

  // Formatted assets
  .facolor-success {
    color: $success-color;
  }

  .facolor-alert {
    color: $alert-color;
  }

  .facolor-warning {
    color: $warning-color;
  }

  .facolor-info {
    color: $info-color;
  }

  .facolor-error {
    color: $error-text-color;
    text-transform: none;
  }

  .facolor-fee {
    color: $fee-color;
  }

  // AccountSelector component
  .error-area {
    color: $error-text-color;
  }
  .account-selector {
    .right-label {
      color: $secondary-text-color;
    }
  }

  .icon.success {
    padding-right: 1rem;
    > svg > path {
      fill: #ef4e43;
    }
  }

  .icon.error {
    padding-right: 1rem;
    > svg > path {
      fill: $warning-color;
    }
  }

  .circle-wrapper {
     .circle:before {
       background-color: $secondary-text-color;
     }
  }

  // Misc

  .chart-zoom-dropdown {
    width:24px;
    height: 28px;
    padding: 4px;
    opacity: 0.5;
    overflow: hidden;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;

    &:hover, &:active, &:focus {
      background-color: $bg-color;
      padding: 4px;
      opacity: 0.85;
      border-radius: 2px;
      color: $light-text-color;
      font-size: 60%;
      width:348px;
      height: 48px;
    }
  }

  .remove {
    color: $alert-color;
    border: none;
    padding: 2px 4px;
    font-size: 120%;
    background-color: transparent;
    border-radius: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    &:hover, &:active, &:focus {
      color: $light-text-color;
      background-color: $alert-color;
      font-size: 120%;
      border-radius: 2px;
    }
  }

  .memo {
    color: #2d3135;
  }

  .help-content {
    code {
      color: $primary-text-color;
      background-color: transparent;
      border-color: $dark-text-color;
    }
  }


  .click-for-help {
    border-bottom-color: $secondary-text-color !important;
  }

  // Block List (section)
  section.block-list input[type="text"], section.block-list input[type="password"] {
    background-color: transparent;
    color: $primary-text-color;
    &:hover, &:active, &:focus {
      color: $primary-text-color;
      background-color: transparent;
      border-bottom: 1px solid $panel-bg-color;
    }
  }

  .remove {
    color: $alert-color;
    border: none;
    padding: 2px 4px;
    font-size: 120%;
    background-color: transparent;
    border-radius: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    &:hover, &:active, &:focus {
      color: $light-text-color;
      background-color: $alert-color;
      font-size: 120%;
      border-radius: 2px;
    }
  }

  .menu-group.primary, .menu-group.primary .menu-bar {
      background-color: $panel-bg-color;

      .menu-bar > li {

          > a {
              color: $primary-text-color;
          }

          > a:hover {
            background-color: #2d3135 !important;
          }

          > a.active {
            background-color: #2d3135 !important;
          }
      }
  }


  // Asset Detail

  .asset-card {
    .card-divider {
      background: $panel-bg-color;
    }
  }


  // Exchange
  .mymarkets-header {
    border-bottom-color: $button-bg-color;
    &.inactive {
      border-bottom-color: transparent;
      background-color: #6e90a7;
    }
  }

  .exchange-content-header {
    color: $light-text-color;
    background-color: #1f77b4!important;
    border-bottom: 1px solid $button-bg-color;
    &.bid {
      border-bottom: 1px solid $bid-color;
    }

    &.ask {
      border-bottom: 1px solid $ask-color;
    }
  }

  // .block-content-header {
  //   //text-transform: uppercase;
  //   @include RobotoLight;
  // }

  td.orderHistoryBid {

    > span.price-integer, > span > span.price-integer {
      font-weight: bold;
      color: $bid-color;
    }

    > span.price-decimal, > span > span.price-decimal {
      color: $primary-text-color;
      opacity: 0.6;
    }


  }

  .orderbook td.orderHistoryBid {
    > span.price-integer, > span > span.price-integer {
      font-weight: bold;
      color: $primary-text-color;
    }
  }

  td.orderHistoryAsk  {
    > span.price-integer, > span > span.price-integer {
      font-weight: bold;
      color: $ask-color;
    }

    > span.price-decimal, > span >span.price-decimal {
      color: $primary-text-color;
      opacity: 0.6;
    }
  }

.orderbook td.orderHistoryAsk {

  > span.price-integer, > span > span.price-integer {
    font-weight: bold;
    color: $primary-text-color;
  }
  }

  td.orderHistoryCall {
    > span.price-integer, > span > span.price-integer {
      font-weight: bold;
      color: $call-color;
    }

    > span.price-decimal, > span >span.price-decimal {
      color: $primary-text-color;
      opacity: 0.6;
    }
  }

  .bid {
    background-color: $bid-color !important;
  }

  .ask {
    background-color: $ask-color !important;
  }

  .orderbook-latest-price {
      > div {
        background-color: $panel-bg-color !important;
        border-bottom: 1px solid grey !important;
        border-top: 1px solid grey !important;
        padding: 10px 0 !important;
        font-weight: bold;
        font-size: 13px;
      }
  }


  .order-table {

      > tbody > tr:nth-of-type(even) {
        background-color: $row-accent-color;
      }
  }

  .mymarkets-header {
    background-color: #1f77b4;
    color: #fff;
  }

  tr.activeMarket, tr.activeMarket:hover {
    color: #4C85D8;
    background-color: $header-color;
  }

  .market-stats .stat .value {
      color: $primary-text-color;
  }

  li.stat.input {
      &:hover {background-color: #1f77b4;
        .indicators.clickable {
          color: #ffffff;
        }
      }
  }
  .stats .stat {
    > span {
      > span:first-of-type {
        color: $primary-text-color;
      }

      > span.symbol-text {
        color: #468EDE;
      }
    }
    &.is-call {
        >span > b {
            color: $call-color;
        }
}
  }

  .buy-sell-box {
      background-color: #8bb6d4;

      > select {
          padding: 0;
          margin: 0;
          height: 1.75rem;
          line-height: 1.75rem;
          border: none;
          color: $primary-text-color;
          background-size: 8px 8px;
          background-color: $header-color;
          font-size: 12px;

          > option {
              color: $chat-text-color;
          }
      }
  }

  .change-up {
    color: $positive-color !important;
  }

  .change-down {
    color: $negative-color !important;
  }

  .header-sub-title {
    font-size: 80%;
    color: $light-text-color;
  }

  .mymarkets-group-header {
    background-color: $header-color;
    padding: 8px 35px;
    border-bottom: 1px solid grey;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }

  div.exchange-content-header {
    background-color: #1f77b4 !important;
  }

  .table > tbody > tr:nth-of-type(even) {
    background-color: #eeeeee;
  }
  //bottom stats
  .bucket-option {
    @include button-focus(#3f3f3f, #8bb6d4, 0);
    &:hover {
      @include button-focus($primary-text-color, $panel-bg-color, 10);
    }
  }

  .active-bucket {
    @include button-focus($primary-text-color, #ffbc2b, 10);
  }


  .indicators, li.stat.clickable{
    color: $secondary-text-color;
    // &:hover{
    //   @include button-focus($primary-text-color, $panel-bg-color, 10);
    // }
  }


  .mymarkets-tabs {
      > li {
          @include button-focus(#fff, #8bb6d4, 0);
          &:hover {
            @include button-focus($primary-text-color, $panel-bg-color, 10);
          }

          &.active {
              @include button-focus($primary-text-color, #ffbc2b, 10);
          }
      }
  }

  .mymarkets-list {
      border-top: 2px solid $panel-bg-color;
  }

  select.bts-select, select.native-coin-types, select.external-coin-types {
      color: $secondary-text-color;
      background-color: $input-background;
      border: 0;
      &:hover, &:focus, &:active {
        background-color: $input-background;
      }
  }


  div.fm-container:hover {
    background-color: darken($light-panel-bg-color, 5%);
    cursor: pointer;
  }

  #chatbox {
    .chat-text {
      color: $chat-text-color;
    }

    .chatbox-content {
        background-color: #ccc;
        color: $chat-text-color;
    }

    .chatbox-title {
      background-color: $header-color !important;
    }

    select {
      height: 3rem;
      font-size: 12px;
    }

    input {
        color: $chat-text-color;
    }
  }

  // Settings

  a {
      &.order-cancel > .icon > svg {
        > path {
          fill : $negative-color;
        }
      }

      &.action-plus > .icon > svg {
        > path {
          fill : $positive-color;
        }
      }
  }

    tr.margin-row {
      > td.danger {
          background-color: darken($alert-color, 15%) !important;
          color: $dark-text-color;
          font-weight: bold;
      }

      > td.warning {
          background-color: darken($warning-color, 15%) !important;
          color: $dark-text-color;
          font-weight: bold;
      }
    }

    .react-stockcharts-tooltip {
      fill: $primary-text-color;
    }
    .react-stockcharts-tooltip-label {
      fill: $link-text-color;
    }

    div.custom-dropdown-content {
        background: $panel-bg-color;
        color: #ffffff;
        > ul > li {
            &.clickable:hover {
                background-color: lighten($panel-bg-color, 5%);
            }
            > div.clickable:hover {
                background-color: lighten($panel-bg-color, 5%);
            }
        }
    }

    .blocktrades-bridge input, .blocktrades-bridge select{
      color: $secondary-text-color;

      border: 1px solid $secondary-text-color;
      background-color: $panel-bg-color !important;
      &.native-coin-types, &.external-coin-types {
          background-color: transparent !important;
      }
      > option {
          color: $primary-text-color;
          background-color: $panel-bg-color !important;
      }
        &:hover, &:focus {
          color: $primary-text-color;
            //box-shadow: 1px 2px 3px #000;
          border: 2px solid $primary-text-color;
        }
    }

    .SimpleTrade__modal {
        .Modal__header {
            background-color: lighten($panel-bg-color, 5%);
        }
        .Modal__divider {
            border-bottom: 2px solid #020202;
        }
    }

    ul.dashboard-links {
        > li.active {
            color: $primary-text-color;
        }
    }

    .switch input:checked + label{
        background-color: darken(#17bf51, 10%);
        &::after {
            border: none;
            background-color: lighten(#17bf51, 5%);
        }
    }

    div.Account_create {
        button.submit-button, div.backup-submit .button {
            background-color: $warning-color;
        }

        label > a {
            color: $secondary-text-color;
        }
    }

    div.ok-indicator {
        color: $secondary-text-color;
        &.success {
            color: $success-color;
        }
    }

    .login-selector {
        > div.box {
            background-color: $panel-bg-color;
            &:hover {
                background-color: darken($panel-bg-color, 2%);
            }
            a {
                color: $primary-text-color;
            }
        }
    }

    table.table > tbody > tr.in-use {
        > td:nth-child(2) {
            font-weight: bold;
        }
    }

    .SimpleDepositBridge__info-row {
        > div {
            > div.float-right {
                &.above-limit {
                    color: $error-text-color;
                }
            }
        }
    }

    input.my-key, td.my-key a {
        font-size: 14px;
        font-weight: bold;
        color: #0671a7;
    }

    /* Table view account */
    div.overview-tabs {
      background-color: #ffffff;
    }
    ul.account-overview {
      background-color: #ffffff;
      color: #000;
        li {
            > a {
                color: #000;
                background-color: #ffffff;
                border: none;
                &:hover {
                    background-color: #f5f7f9;
                }
                > div.tab-subtext {
                    color: $account-green;
                }
            }
            &.is-active > a {
                color: #ef4e43;
                background-color: #ffffff;
            }
            &.total-value {
                > a {
                    background-color: #ffffff;
                    &:hover > span.tab-title {
                        color: #000000;
                    }
                }
            }
        }
    }

    table.table.dashboard-table {
        > thead > tr > th {
            background-color: $account-header;
            color: $account-primarytext;
        }
        > tbody > tr {
            > td {
                background-color: #ffffff;
                color: #2d3135;
                border: 1px solid #424242;
                font-size: 1rem;
                &:first-child {
                  background-color: #f5f7f9;
                }
                .icon > svg > path {
                    fill: #ef4e43;
                }
            }
            &.total-value {
                td {
                    background-color: #ffffff;
                }
                td:nth-child(n+2) {
                    color: $account-green;
                    text-align: right;
                }
            }
        }
    }

    div.account-creation {
        background-color: #ffffff;

        div.button > a {
            color: $primary-text-color;
        }
    }
    span.danger {
        color: darken($alert-color, 15%);
    }
    span.warning {
        color: darken($warning-color, 15%);
    }
}

.olDarkTheme .gate_fee .amount-selector {
  width: 74%;
  display: inline-block;
}

.olDarkTheme .gate_fee .right-selector {
  text-align: right;
  width: 26%;
  display: inline-block;
  color: #adadad;
  text-transform: uppercase;
}

.olDarkTheme .gate_fee .right-selector .right-selector-input {
  text-align: right;
  width: 100%;
}
